workflow/B2B Lead Intake and Qualification Pipeline.json
{
  "name": "B2B Lead Intake and Qualification Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        208
      ],
      "id": "1c5cceb9-68fb-451d-ad4d-a8473a809ebb",
      "name": "01A - Manual CSV Import Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/data/messy_leads_test_dataset.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        208
      ],
      "id": "564d696e-d79b-43be-9fa1-776247a04066",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ],
      "id": "0a70405b-8e22-4070-b957-0f96b6da2d7e",
      "name": "01C - Parse Lead CSV Rows"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2b-lead-intake",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "760d0832-ecfa-48e2-908f-b5924b6bdc06",
      "name": "01D - Webhook Lead Intake",
      "webhookId": "cd7c6bf0-f88a-4aae-98a1-3899b698755a"
    },
    {
      "parameters": {
        "jsCode": "function getLeadPayload(item) {\n  // Webhook node outputs fields inside item.json.body.\n  // CSV parser outputs fields directly in item.json.\n  if (item.json.body && typeof item.json.body === 'object') {\n    return item.json.body;\n  }\n\n  return item.json;\n}\n\nfunction clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\n\nreturn items.map((item, index) => {\n  const lead = getLeadPayload(item);\n\n  return {\n    json: {\n      intake_id: `${Date.now()}_${index}`,\n      intake_received_at: new Date().toISOString(),\n\n      timestamp: clean(lead.timestamp),\n      first_name: clean(lead.first_name),\n      last_name: clean(lead.last_name),\n      company_name: clean(lead.company_name),\n      email: clean(lead.email),\n      phone: clean(lead.phone),\n      country: clean(lead.country),\n      interest: clean(lead.interest),\n      message: clean(lead.message),\n      source: clean(lead.source || 'unknown'),\n      language: clean(lead.language || 'unknown'),\n\n      raw_payload: lead,\n      intake_status: 'received'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        208
      ],
      "id": "64c4ad82-4317-41b4-bf9d-c25db9f9c654",
      "name": "01E - Standardize Intake Stream"
    },
    {
      "parameters": {
        "jsCode": "const EXPECTED_FIELDS = [\n  'timestamp',\n  'first_name',\n  'last_name',\n  'company_name',\n  'email',\n  'phone',\n  'country',\n  'interest',\n  'message',\n  'source',\n  'language'\n];\n\nconst GENERIC_EMAIL_DOMAINS = [\n  'gmail.com',\n  'googlemail.com',\n  'outlook.com',\n  'hotmail.com',\n  'yahoo.com',\n  'icloud.com',\n  'aol.com',\n  'proton.me',\n  'protonmail.com',\n  'gmx.com',\n  'gmx.de',\n  'web.de',\n  'live.com',\n  'msn.com'\n];\n\nconst LEGAL_SUFFIXES = [\n  'sdn',\n  'bhd',\n  'berhad',\n  'enterprise',\n  'holdings',\n  'group',\n  'gmbh',\n  'ag',\n  'se',\n  'ltd',\n  'llc',\n  'inc',\n  'corp',\n  'corporation',\n  'srl',\n  'bv',\n  'nv',\n  'spa',\n  'sa',\n  'oy',\n  'as',\n  'ab'\n];\n\nfunction clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\n\nfunction lower(value) {\n  return clean(value).toLowerCase();\n}\n\nfunction normalizeUnicode(value) {\n  return clean(value)\n    .normalize('NFKD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/Ä/g, 'Ae')\n    .replace(/Ö/g, 'Oe')\n    .replace(/Ü/g, 'Ue')\n    .replace(/ß/g, 'ss');\n}\n\nfunction normalizeEmail(value) {\n  return lower(value);\n}\n\nfunction extractEmailDomain(email) {\n  const normalizedEmail = normalizeEmail(email);\n\n  if (!normalizedEmail || !normalizedEmail.includes('@')) return '';\n\n  const parts = normalizedEmail.split('@');\n\n  if (parts.length !== 2) return '';\n\n  return parts[1] || '';\n}\n\nfunction normalizeDomain(value) {\n  let domain = lower(value);\n\n  domain = domain\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .split('/')[0]\n    .split('?')[0]\n    .split('#')[0]\n    .trim();\n\n  return domain;\n}\n\nfunction looksLikeDomain(value) {\n  const text = normalizeDomain(value);\n\n  return /^[a-z0-9.-]+\\.[a-z]{2,}$/.test(text);\n}\n\nfunction tokenize(value) {\n  return clean(value)\n    .split(/\\s+/)\n    .map(part => part.trim())\n    .filter(Boolean);\n}\n\nfunction hasLegalSuffix(value) {\n  const words = normalizeUnicode(value)\n    .toLowerCase()\n    .replace(/[.,]/g, '')\n    .split(/\\s+/)\n    .filter(Boolean);\n\n  return words.some(word => LEGAL_SUFFIXES.includes(word));\n}\n\nfunction stripLegalSuffixes(value) {\n  const suffixPattern = new RegExp(`\\\\b(${LEGAL_SUFFIXES.join('|')})\\\\b\\\\.?`, 'gi');\n\n  return normalizeUnicode(value)\n    .replace(suffixPattern, '')\n    .replace(/[.,]/g, ' ')\n    .replace(/[^a-zA-Z0-9&\\- ]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeCompanyName(value) {\n  return stripLegalSuffixes(value)\n    .toLowerCase()\n    .replace(/&/g, ' and ')\n    .replace(/[^a-z0-9]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction looksLikePersonName(value) {\n  const text = clean(value);\n  const words = tokenize(text);\n\n  if (!text) return false;\n  if (looksLikeDomain(text)) return false;\n  if (hasLegalSuffix(text)) return false;\n  if (words.length < 2 || words.length > 4) return false;\n\n  return words.every(word => {\n    return /^[A-ZÀ-ÖØ-Þ][a-zà-öø-ÿ'’-]+$/.test(word);\n  });\n}\n\nfunction looksStructurallyLikeCompany(value) {\n  const text = clean(value);\n  const words = tokenize(text);\n\n  if (!text) return false;\n  if (looksLikeDomain(text)) return true;\n  if (hasLegalSuffix(text)) return true;\n\n  const hasBusinessPunctuation = /[&+]/.test(text);\n\n  const hasMultiWordCapitalizedName =\n    words.length >= 2 &&\n    words.some(word => /^[A-ZÀ-ÖØ-Þ]/.test(word)) &&\n    !looksLikePersonName(text);\n\n  return hasBusinessPunctuation || hasMultiWordCapitalizedName;\n}\n\nfunction normalizeForComparison(value) {\n  return normalizeUnicode(value)\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction emailLocalPartLooksLikeName(email, nameValue) {\n  const normalizedEmail = normalizeEmail(email);\n\n  if (!normalizedEmail.includes('@')) return false;\n\n  const localPart = normalizedEmail\n    .split('@')[0]\n    .replace(/[^a-z0-9]+/gi, ' ')\n    .toLowerCase()\n    .trim();\n\n  const normalizedName = normalizeForComparison(nameValue);\n\n  if (!localPart || !normalizedName) return false;\n\n  const nameParts = normalizedName\n    .split(/\\s+/)\n    .filter(Boolean);\n\n  return nameParts.length >= 2 && nameParts.every(part => localPart.includes(part));\n}\n\nfunction detectLikelySwappedFields(lead) {\n  const firstName = clean(lead.first_name);\n  const lastName = clean(lead.last_name);\n  const companyName = clean(lead.company_name);\n  const email = clean(lead.email);\n\n  if (!firstName || !companyName) return false;\n\n  const companyFieldLooksLikePerson =\n    looksLikePersonName(companyName) ||\n    emailLocalPartLooksLikeName(email, companyName);\n\n  const firstFieldLooksCompany =\n    looksStructurallyLikeCompany(firstName) ||\n    (\n      tokenize(firstName).length >= 2 &&\n      !emailLocalPartLooksLikeName(email, firstName) &&\n      !hasLegalSuffix(companyName)\n    );\n\n  const lastNameMissing = !lastName;\n\n  return firstFieldLooksCompany && companyFieldLooksLikePerson && lastNameMissing;\n}\n\nfunction splitPersonName(fullName) {\n  const parts = clean(fullName).split(/\\s+/).filter(Boolean);\n\n  if (parts.length === 0) {\n    return {\n      first_name: '',\n      last_name: '',\n      full_name: ''\n    };\n  }\n\n  if (parts.length === 1) {\n    return {\n      first_name: parts[0],\n      last_name: '',\n      full_name: parts[0]\n    };\n  }\n\n  return {\n    first_name: parts[0],\n    last_name: parts.slice(1).join(' '),\n    full_name: parts.join(' ')\n  };\n}\n\nfunction detectLanguageFromMessage(message) {\n  const text = lower(message);\n\n  if (!text) return 'unknown';\n\n  const malayStopWords = [\n    'kami',\n    'sedang',\n    'mencari',\n    'rakan',\n    'kongsi',\n    'untuk',\n    'dan',\n    'dengan',\n    'sistem',\n    'tenaga',\n    'solar',\n    'bangunan',\n    'majlis',\n    'menilai',\n    'pilihan',\n    'projek',\n    'selamat',\n    'pagi',\n    'bateri',\n    'integrasi',\n    'grid'\n  ];\n\n  const englishStopWords = [\n    'we',\n    'and',\n    'the',\n    'for',\n    'with',\n    'please',\n    'looking',\n    'interested',\n    'project',\n    'contact',\n    'our',\n    'your',\n    'would',\n    'like',\n    'send',\n    'schedule',\n    'call',\n    'are',\n    'is',\n    'to',\n    'in',\n    'of'\n  ];\n\n  let msScore = 0;\n  let enScore = 0;\n\n  const words = text\n    .replace(/[^a-z ]/gi, ' ')\n    .split(/\\s+/)\n    .filter(Boolean);\n\n  for (const word of words) {\n    if (malayStopWords.includes(word)) msScore++;\n    if (englishStopWords.includes(word)) enScore++;\n  }\n\n  if (msScore > enScore && msScore >= 2) return 'ms';\n  if (enScore > msScore && enScore >= 2) return 'en';\n\n  return 'unknown';\n}\n\nfunction getMissingFields(lead) {\n  return EXPECTED_FIELDS.filter(field => {\n    return lead[field] === undefined ||\n      lead[field] === null ||\n      String(lead[field]).trim() === '';\n  });\n}\n\nfunction isMostlyEmptyRecord(lead) {\n  const identityFields = [\n    'first_name',\n    'last_name',\n    'company_name',\n    'email',\n    'phone',\n    'country',\n    'interest',\n    'message'\n  ];\n\n  const presentIdentityFields = identityFields.filter(field => {\n    return lead[field] !== undefined &&\n      lead[field] !== null &&\n      String(lead[field]).trim() !== '';\n  });\n\n  return presentIdentityFields.length === 0;\n}\n\nfunction calculateConfidence({\n  email,\n  isGenericEmailDomain,\n  companyName,\n  missingFields,\n  warnings,\n  emptyRecord\n}) {\n  if (emptyRecord) return 'low';\n\n  const hasUsableEmail = Boolean(email) && !isGenericEmailDomain;\n  const hasCompanyName = Boolean(companyName);\n\n  const hasMajorWarnings = warnings.some(warning =>\n    [\n      'empty_record',\n      'missing_company_name',\n      'missing_email',\n      'generic_email_domain',\n      'possible_swapped_person_and_company_fields'\n    ].includes(warning)\n  );\n\n  if (hasUsableEmail && hasCompanyName && !hasMajorWarnings) {\n    return 'high';\n  }\n\n  if ((hasUsableEmail || hasCompanyName) && missingFields.length < EXPECTED_FIELDS.length - 2) {\n    return 'medium';\n  }\n\n  return 'low';\n}\n\nreturn items.map((item) => {\n  const lead = item.json || {};\n\n  const missingFields = getMissingFields(lead);\n  const emptyRecord = isMostlyEmptyRecord(lead);\n\n  const email = normalizeEmail(lead.email);\n  const emailDomain = extractEmailDomain(email);\n\n  const originalCompanyName = clean(lead.company_name);\n  const originalCompanyNameLooksDomain = looksLikeDomain(originalCompanyName);\n\n  const isGenericEmailDomain = GENERIC_EMAIL_DOMAINS.includes(emailDomain);\n  const usableEmailDomain = emailDomain && !isGenericEmailDomain ? emailDomain : '';\n\n  const suppliedLanguage = lower(lead.language);\n  const detectedLanguage = suppliedLanguage || detectLanguageFromMessage(lead.message);\n\n  const likelySwappedFields = detectLikelySwappedFields(lead);\n\n  let correctedFirstName = clean(lead.first_name);\n  let correctedLastName = clean(lead.last_name);\n  let correctedCompanyName = originalCompanyName;\n\n  if (likelySwappedFields) {\n    const correctedPerson = splitPersonName(originalCompanyName);\n\n    correctedFirstName = correctedPerson.first_name;\n    correctedLastName = correctedPerson.last_name;\n    correctedCompanyName = clean(lead.first_name);\n  }\n\n  const correctedCompanyNameLooksDomain = looksLikeDomain(correctedCompanyName);\n\n  const domainFromCompanyField = correctedCompanyNameLooksDomain\n    ? normalizeDomain(correctedCompanyName)\n    : '';\n\n  const inferredCompanyDomain =\n    domainFromCompanyField ||\n    usableEmailDomain ||\n    '';\n\n  const extractionWarnings = [];\n\n  if (emptyRecord) {\n    extractionWarnings.push('empty_record');\n  }\n\n  if (likelySwappedFields) {\n    extractionWarnings.push('possible_swapped_person_and_company_fields');\n    extractionWarnings.push('fields_corrected_from_swap');\n  }\n\n  if (originalCompanyNameLooksDomain || correctedCompanyNameLooksDomain) {\n    extractionWarnings.push('company_name_field_contains_domain');\n  }\n\n  if (isGenericEmailDomain) {\n    extractionWarnings.push('generic_email_domain');\n  }\n\n  if (!correctedCompanyName) {\n    extractionWarnings.push('missing_company_name');\n  }\n\n  if (!email) {\n    extractionWarnings.push('missing_email');\n  }\n\n  if (suppliedLanguage === '' && detectedLanguage !== 'unknown') {\n    extractionWarnings.push('language_detected_from_message');\n  }\n\n  if (suppliedLanguage === '' && detectedLanguage === 'unknown') {\n    extractionWarnings.push('language_unknown');\n  }\n\n  const confidence = calculateConfidence({\n    email,\n    isGenericEmailDomain,\n    companyName: correctedCompanyName,\n    missingFields,\n    warnings: extractionWarnings,\n    emptyRecord\n  });\n\n  return {\n    json: {\n      ...lead,\n\n      extracted: {\n        person: {\n          first_name: correctedFirstName,\n          last_name: correctedLastName,\n          full_name: `${correctedFirstName} ${correctedLastName}`.trim(),\n          email,\n          phone: clean(lead.phone)\n        },\n\n        company: {\n          raw_name: correctedCompanyName,\n          normalized_name: normalizeCompanyName(correctedCompanyName),\n          domain_from_company_field: domainFromCompanyField,\n          email_domain: emailDomain,\n          usable_email_domain: usableEmailDomain,\n          inferred_domain: inferredCompanyDomain,\n          is_generic_email_domain: isGenericEmailDomain\n        },\n\n        lead_context: {\n          timestamp: clean(lead.timestamp),\n          country: clean(lead.country),\n          interest: clean(lead.interest),\n          message: clean(lead.message),\n          source: clean(lead.source),\n          language: suppliedLanguage || detectedLanguage,\n          detected_language: detectedLanguage\n        },\n\n        extraction: {\n          status: 'extracted',\n          method: 'rule_based_generic_v3',\n          confidence,\n          missing_fields: missingFields,\n          warnings: extractionWarnings,\n          likely_swapped_fields: likelySwappedFields,\n          empty_record: emptyRecord\n        }\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        208
      ],
      "id": "61e02f87-607e-4538-a19a-f1a142f2123f",
      "name": "02A - Extract and Normalize Lead Fields"
    },
    {
      "parameters": {
        "jsCode": "function clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\n\nfunction isValidEmail(email) {\n  const value = clean(email).toLowerCase();\n\n  if (!value) return false;\n\n  return /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(value);\n}\n\nfunction hasLikelyEmailTypo(emailDomain) {\n  const domain = clean(emailDomain).toLowerCase();\n\n  const typoDomains = {\n    'gmali.com': 'gmail.com',\n    'gmai.com': 'gmail.com',\n    'gmail.co': 'gmail.com',\n    'hotmial.com': 'hotmail.com',\n    'outlok.com': 'outlook.com',\n    'yaho.com': 'yahoo.com'\n  };\n\n  return typoDomains[domain] || '';\n}\n\nfunction isValidTimestamp(timestamp) {\n  const value = clean(timestamp);\n\n  if (!value) return false;\n\n  const parsed = Date.parse(value);\n\n  return !Number.isNaN(parsed);\n}\n\nfunction isRecordUsableForHumanReview(extracted) {\n  const email = clean(extracted?.person?.email);\n  const companyName = clean(extracted?.company?.raw_name);\n  const message = clean(extracted?.lead_context?.message);\n  const interest = clean(extracted?.lead_context?.interest);\n\n  return Boolean(email || companyName || message || interest);\n}\n\nreturn items.map((item) => {\n  const lead = item.json;\n  const extracted = lead.extracted || {};\n\n  const validationErrors = [];\n  const validationWarnings = [];\n  const reviewReasons = [];\n\n  const email = clean(extracted?.person?.email);\n  const emailDomain = clean(extracted?.company?.email_domain);\n  const companyName = clean(extracted?.company?.raw_name);\n  const inferredDomain = clean(extracted?.company?.inferred_domain);\n  const timestamp = clean(extracted?.lead_context?.timestamp);\n  const country = clean(extracted?.lead_context?.country);\n  const message = clean(extracted?.lead_context?.message);\n  const confidence = clean(extracted?.extraction?.confidence);\n  const extractionWarnings = extracted?.extraction?.warnings || [];\n  const missingFields = extracted?.extraction?.missing_fields || [];\n  const emptyRecord = extracted?.extraction?.empty_record === true;\n\n  if (emptyRecord) {\n    validationErrors.push('empty_record');\n    reviewReasons.push('Record is mostly empty and cannot be processed automatically.');\n  }\n\n  if (!email) {\n    validationWarnings.push('missing_email');\n    reviewReasons.push('Email is missing.');\n  } else if (!isValidEmail(email)) {\n    validationErrors.push('invalid_email_format');\n    reviewReasons.push('Email format is invalid.');\n  }\n\n  const suggestedEmailDomainCorrection = hasLikelyEmailTypo(emailDomain);\n\n  if (suggestedEmailDomainCorrection) {\n    validationWarnings.push('possible_email_domain_typo');\n    reviewReasons.push(`Email domain may be typo: ${emailDomain} → ${suggestedEmailDomainCorrection}.`);\n  }\n\n  if (!companyName && !inferredDomain) {\n    validationErrors.push('missing_company_identity');\n    reviewReasons.push('No company name or usable company domain found.');\n  }\n\n  if (!companyName && inferredDomain) {\n    validationWarnings.push('missing_company_name_but_domain_available');\n    reviewReasons.push('Company name is missing, but email/domain may identify the organisation.');\n  }\n\n  if (extractionWarnings.includes('generic_email_domain') && !companyName) {\n    validationErrors.push('generic_email_without_company');\n    reviewReasons.push('Generic email domain and no company name. Cannot identify company confidently.');\n  }\n\n  if (extractionWarnings.includes('possible_swapped_person_and_company_fields')) {\n    validationWarnings.push('fields_were_probably_swapped');\n    reviewReasons.push('Person and company fields were probably swapped and corrected during extraction.');\n  }\n\n  if (!timestamp) {\n    validationWarnings.push('missing_timestamp');\n    reviewReasons.push('Timestamp is missing.');\n  } else if (!isValidTimestamp(timestamp)) {\n    validationWarnings.push('invalid_timestamp');\n    reviewReasons.push('Timestamp is not parseable.');\n  }\n\n  if (!country) {\n    validationWarnings.push('missing_country');\n    reviewReasons.push('Country is missing.');\n  }\n\n  if (!message) {\n    validationWarnings.push('missing_message');\n    reviewReasons.push('Message is missing.');\n  }\n\n  if (confidence === 'low') {\n    validationWarnings.push('low_extraction_confidence');\n    reviewReasons.push('Extraction confidence is low.');\n  }\n\n  const usableForHumanReview = isRecordUsableForHumanReview(extracted);\n\n  let validationStatus = 'valid';\n\n  if (validationErrors.length > 0) {\n    validationStatus = usableForHumanReview ? 'needs_review' : 'rejected';\n  } else if (validationWarnings.length > 0) {\n    validationStatus = 'valid_with_warnings';\n  }\n\n  return {\n    json: {\n      ...lead,\n\n      validation: {\n        status: validationStatus,\n        errors: validationErrors,\n        warnings: validationWarnings,\n        review_reasons: [...new Set(reviewReasons)],\n        missing_fields: missingFields,\n        suggested_email_domain_correction: suggestedEmailDomainCorrection,\n        usable_for_human_review: usableForHumanReview,\n        checked_at: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        208
      ],
      "id": "6d32d063-5331-496a-9dd5-2d8eb9894721",
      "name": "03A - Validate Lead Fields"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 05A - Mock Enrichment API\n *\n * Purpose:\n * - Simulates a third-party company enrichment API.\n * - Only enriches leads that are:\n *   1. not rejected by validation\n *   2. dedup.status === \"new\"\n *\n * Why:\n * - Demonstrates cost control.\n * - Avoids enriching duplicates or uncertain duplicate leads before human review.\n * - Keeps auditability by preserving original input and adding enrichment metadata.\n * - Never invents company data when no safe domain is available.\n */\n\nconst MOCK_ENRICHMENT_DB = {\n  /**\n   * Mock records intentionally matched to the Malaysia-style test CSV.\n   * These prove the enrichment success path works.\n   */\n\n  \"gridnusa.example\": {\n    company: {\n      legal_name: \"GridNusa Energy Sdn Bhd\",\n      normalized_name: \"GridNusa Energy\",\n      domain: \"gridnusa.example\",\n      country: \"Malaysia\",\n      region: \"Southeast Asia\",\n      industry: \"energy_infrastructure\",\n      sub_industry: \"battery_storage_and_grid_integration\",\n      company_size: \"501-1000\",\n      estimated_employee_count: 780,\n      website: \"https://gridnusa.example\"\n    },\n    qualification_signals: {\n      project_developer: true,\n      renewable_energy_focus: true,\n      likely_b2b_customer: true,\n      grid_or_utility_relevance: \"high\",\n      market_fit_notes: [\n        \"Malaysian energy infrastructure company with storage-related inquiry\",\n        \"Lead message mentions battery system and grid integration\"\n      ]\n    },\n    contacts: {\n      decision_maker_available: false,\n      decision_maker_name: \"unknown\",\n      decision_maker_title: \"unknown\"\n    },\n    confidence: \"high\"\n  },\n\n  \"penang-municipal-energy.example\": {\n    company: {\n      legal_name: \"Penang Municipal Energy\",\n      normalized_name: \"Penang Municipal Energy\",\n      domain: \"penang-municipal-energy.example\",\n      country: \"Malaysia\",\n      region: \"Southeast Asia\",\n      industry: \"municipal_energy\",\n      sub_industry: \"public_sector_energy_efficiency\",\n      company_size: \"201-500\",\n      estimated_employee_count: \"unknown\",\n      website: \"https://penang-municipal-energy.example\"\n    },\n    qualification_signals: {\n      project_developer: true,\n      renewable_energy_focus: true,\n      likely_b2b_customer: true,\n      grid_or_utility_relevance: \"medium\",\n      market_fit_notes: [\n        \"Municipal energy lead in Malaysia\",\n        \"Lead message mentions solar options for council buildings\"\n      ]\n    },\n    contacts: {\n      decision_maker_available: false,\n      decision_maker_name: \"unknown\",\n      decision_maker_title: \"unknown\"\n    },\n    confidence: \"high\"\n  },\n\n  \"bluepeak-trading.example\": {\n    company: {\n      legal_name: \"BluePeak Trading Sdn Bhd\",\n      normalized_name: \"BluePeak Trading\",\n      domain: \"bluepeak-trading.example\",\n      country: \"Malaysia\",\n      region: \"Southeast Asia\",\n      industry: \"commercial_property\",\n      sub_industry: \"warehouse_and_distribution\",\n      company_size: \"51-200\",\n      estimated_employee_count: 140,\n      website: \"https://bluepeak-trading.example\"\n    },\n    qualification_signals: {\n      project_developer: false,\n      renewable_energy_focus: true,\n      likely_b2b_customer: true,\n      grid_or_utility_relevance: \"medium\",\n      market_fit_notes: [\n        \"Lead message mentions a 500kW rooftop installation\",\n        \"Commercial warehouse solar use case is a plausible B2B fit\"\n      ]\n    },\n    contacts: {\n      decision_maker_available: false,\n      decision_maker_name: \"unknown\",\n      decision_maker_title: \"unknown\"\n    },\n    confidence: \"medium\"\n  },\n\n  \"helio-works.example\": {\n    company: {\n      legal_name: \"HelioWorks Manufacturing Sdn Bhd\",\n      normalized_name: \"HelioWorks Manufacturing\",\n      domain: \"helio-works.example\",\n      country: \"Malaysia\",\n      region: \"Southeast Asia\",\n      industry: \"manufacturing\",\n      sub_industry: \"industrial_rooftop_solar\",\n      company_size: \"201-500\",\n      estimated_employee_count: 320,\n      website: \"https://helio-works.example\"\n    },\n    qualification_signals: {\n      project_developer: false,\n      renewable_energy_focus: true,\n      likely_b2b_customer: true,\n      grid_or_utility_relevance: \"medium\",\n      market_fit_notes: [\n        \"Manufacturing company with rooftop solar interest\",\n        \"Potential commercial and industrial solar buyer\"\n      ]\n    },\n    contacts: {\n      decision_maker_available: false,\n      decision_maker_name: \"unknown\",\n      decision_maker_title: \"unknown\"\n    },\n    confidence: \"medium\"\n  },\n\n  \"metrosolar.example\": {\n    company: {\n      legal_name: \"MetroSolar Solutions Sdn Bhd\",\n      normalized_name: \"MetroSolar Solutions\",\n      domain: \"metrosolar.example\",\n      country: \"Malaysia\",\n      region: \"Southeast Asia\",\n      industry: \"renewable_energy\",\n      sub_industry: \"solar_project_development\",\n      company_size: \"201-500\",\n      estimated_employee_count: 260,\n      website: \"https://metrosolar.example\"\n    },\n    qualification_signals: {\n      project_developer: true,\n      renewable_energy_focus: true,\n      likely_b2b_customer: true,\n      grid_or_utility_relevance: \"medium\",\n      market_fit_notes: [\n        \"Renewable energy company in Malaysia\",\n        \"Potential fit for solar project development and commercial energy partnerships\"\n      ]\n    },\n    contacts: {\n      decision_maker_available: false,\n      decision_maker_name: \"unknown\",\n      decision_maker_title: \"unknown\"\n    },\n    confidence: \"high\"\n  },\n\n  /**\n   * Intentional bad vendor-style response:\n   * Simulates an enrichment provider returning HTTP 200\n   * but mismatched / suspicious company data.\n   *\n   * This is useful because 06A validates and flags it.\n   */\n  \"badvendor-match.test\": {\n    company: {\n      legal_name: \"Completely Different Company Ltd\",\n      normalized_name: \"Completely Different Company\",\n      domain: \"different-company.example\",\n      country: \"Singapore\",\n      region: \"Southeast Asia\",\n      industry: \"software\",\n      sub_industry: \"crm_tools\",\n      company_size: \"201-500\",\n      estimated_employee_count: 300,\n      website: \"https://different-company.example\"\n    },\n    qualification_signals: {\n      project_developer: false,\n      renewable_energy_focus: false,\n      likely_b2b_customer: false,\n      grid_or_utility_relevance: \"low\",\n      market_fit_notes: [\n        \"Intentional mismatched mock result for enrichment validation testing\"\n      ]\n    },\n    contacts: {\n      decision_maker_available: true,\n      decision_maker_name: \"Vendor Returned Name\",\n      decision_maker_title: \"Head of Sales\"\n    },\n    confidence: \"low\"\n  }\n};\n\nfunction deepClone(value) {\n  return JSON.parse(JSON.stringify(value));\n}\n\nfunction cleanString(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction normalizeDomain(value) {\n  let domain = cleanString(value).toLowerCase();\n\n  domain = domain\n    .replace(/^https?:\\/\\//, \"\")\n    .replace(/^www\\./, \"\")\n    .split(\"/\")[0]\n    .split(\"?\")[0]\n    .split(\"#\")[0];\n\n  return domain;\n}\n\nfunction getEmailDomain(email) {\n  const cleanEmail = cleanString(email).toLowerCase();\n  if (!cleanEmail.includes(\"@\")) return \"\";\n\n  return normalizeDomain(cleanEmail.split(\"@\").pop());\n}\n\nfunction isGenericEmailDomain(domain) {\n  const genericDomains = new Set([\n    \"gmail.com\",\n    \"googlemail.com\",\n    \"outlook.com\",\n    \"hotmail.com\",\n    \"live.com\",\n    \"icloud.com\",\n    \"yahoo.com\",\n    \"proton.me\",\n    \"protonmail.com\",\n    \"aol.com\",\n    \"gmx.com\",\n    \"gmx.de\",\n    \"web.de\"\n  ]);\n\n  return genericDomains.has(normalizeDomain(domain));\n}\n\nfunction getBestCompanyDomain(lead) {\n  const company = lead.extracted?.company || {};\n  const person = lead.extracted?.person || {};\n\n  const candidates = [\n    company.domain,\n    company.inferred_domain,\n    company.website,\n    getEmailDomain(person.email)\n  ];\n\n  for (const candidate of candidates) {\n    const domain = normalizeDomain(candidate);\n\n    if (!domain) continue;\n    if (isGenericEmailDomain(domain)) continue;\n\n    return domain;\n  }\n\n  return \"\";\n}\n\nfunction buildSkippedEnrichment(reason, extra = {}) {\n  return {\n    status: \"skipped\",\n    checked: false,\n    provider: \"mock_enrichment_api\",\n    reason,\n    http_status_simulated: null,\n    matched_domain: null,\n    confidence: \"none\",\n    data: null,\n    warnings: [],\n    audit: {\n      cost_control_applied: true,\n      live_api_used: false,\n      mock_data_used: false,\n      ...extra\n    }\n  };\n}\n\nfunction buildUnknownEnrichment(reason, domain) {\n  return {\n    status: \"not_found\",\n    checked: true,\n    provider: \"mock_enrichment_api\",\n    reason,\n    http_status_simulated: 200,\n    matched_domain: domain || null,\n    confidence: \"unknown\",\n    data: {\n      company: {\n        legal_name: \"unknown\",\n        normalized_name: \"unknown\",\n        domain: domain || \"unknown\",\n        country: \"unknown\",\n        region: \"unknown\",\n        industry: \"unknown\",\n        sub_industry: \"unknown\",\n        company_size: \"unknown\",\n        estimated_employee_count: \"unknown\",\n        website: \"unknown\"\n      },\n      qualification_signals: {\n        project_developer: \"unknown\",\n        renewable_energy_focus: \"unknown\",\n        likely_b2b_customer: \"unknown\",\n        grid_or_utility_relevance: \"unknown\",\n        market_fit_notes: []\n      },\n      contacts: {\n        decision_maker_available: false,\n        decision_maker_name: \"unknown\",\n        decision_maker_title: \"unknown\"\n      }\n    },\n    warnings: [\"no_mock_enrichment_record_found\"],\n    audit: {\n      cost_control_applied: true,\n      live_api_used: false,\n      mock_data_used: false,\n      unknown_fields_preserved_as_unknown: true\n    }\n  };\n}\n\nreturn items.map((item) => {\n  const lead = item.json;\n\n  const validationStatus = lead.validation?.status || \"unknown\";\n  const dedupStatus = lead.dedup?.status || \"unknown\";\n\n  /**\n   * Rule 1:\n   * Never enrich rejected records.\n   */\n  if (validationStatus === \"rejected\") {\n    return {\n      json: {\n        ...lead,\n        enrichment: buildSkippedEnrichment(\"validation_status_rejected\", {\n          validation_status: validationStatus,\n          dedup_status: dedupStatus\n        })\n      }\n    };\n  }\n\n  /**\n   * Rule 2:\n   * Only enrich new leads.\n   */\n  if (dedupStatus !== \"new\") {\n    return {\n      json: {\n        ...lead,\n        enrichment: buildSkippedEnrichment(\"dedup_status_not_new\", {\n          validation_status: validationStatus,\n          dedup_status: dedupStatus\n        })\n      }\n    };\n  }\n\n  const domain = getBestCompanyDomain(lead);\n\n  /**\n   * Rule 3:\n   * If there is no safe company domain, do not invent data.\n   */\n  if (!domain) {\n    return {\n      json: {\n        ...lead,\n        enrichment: buildUnknownEnrichment(\"no_safe_company_domain_available\", null)\n      }\n    };\n  }\n\n  const mockRecord = MOCK_ENRICHMENT_DB[domain];\n\n  /**\n   * Rule 4:\n   * Unknown domains return a clean empty enrichment payload.\n   */\n  if (!mockRecord) {\n    return {\n      json: {\n        ...lead,\n        enrichment: buildUnknownEnrichment(\"domain_not_found_in_mock_database\", domain)\n      }\n    };\n  }\n\n  /**\n   * Rule 5:\n   * Known domains return mock enrichment data.\n   */\n  return {\n    json: {\n      ...lead,\n      enrichment: {\n        status: \"enriched\",\n        checked: true,\n        provider: \"mock_enrichment_api\",\n        reason: \"mock_domain_match\",\n        http_status_simulated: 200,\n        matched_domain: domain,\n        confidence: mockRecord.confidence || \"unknown\",\n        data: deepClone(mockRecord),\n        warnings: domain === \"badvendor-match.test\"\n          ? [\"mock_vendor_returned_possible_mismatched_company\"]\n          : [],\n        audit: {\n          cost_control_applied: true,\n          live_api_used: false,\n          mock_data_used: true,\n          unknown_fields_preserved_as_unknown: true\n        }\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        208
      ],
      "id": "a6ad23f6-3653-4022-86a6-aa46275b52ef",
      "name": "05A - Mock Enrichment API"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 06A - Validate Enrichment Response\n *\n * Purpose:\n * - Checks whether the enrichment result is usable before scoring.\n * - Does not drop any records.\n * - Adds an enrichment_validation object for auditability.\n *\n * Why:\n * - A vendor/API can return HTTP 200 but still provide bad, mismatched, or low-confidence data.\n * - Scoring should not blindly trust enrichment output.\n */\n\nfunction cleanString(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction normalizeText(value) {\n  return cleanString(value)\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/ä/g, \"ae\")\n    .replace(/ö/g, \"oe\")\n    .replace(/ü/g, \"ue\")\n    .replace(/ß/g, \"ss\")\n    .replace(/[^a-z0-9]+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizeDomain(value) {\n  let domain = cleanString(value).toLowerCase();\n\n  domain = domain\n    .replace(/^https?:\\/\\//, \"\")\n    .replace(/^www\\./, \"\")\n    .split(\"/\")[0]\n    .split(\"?\")[0]\n    .split(\"#\")[0];\n\n  return domain;\n}\n\nfunction tokenOverlapScore(a, b) {\n  const tokensA = normalizeText(a).split(\" \").filter(Boolean);\n  const tokensB = normalizeText(b).split(\" \").filter(Boolean);\n\n  if (tokensA.length === 0 || tokensB.length === 0) return 0;\n\n  const setA = new Set(tokensA);\n  const setB = new Set(tokensB);\n\n  let overlap = 0;\n\n  for (const token of setA) {\n    if (setB.has(token)) overlap++;\n  }\n\n  return overlap / Math.max(setA.size, setB.size);\n}\n\nfunction isUnknown(value) {\n  const clean = cleanString(value).toLowerCase();\n  return clean === \"\" || clean === \"unknown\" || clean === \"null\" || clean === \"undefined\";\n}\n\nfunction buildSkippedValidation(reason) {\n  return {\n    status: \"skipped\",\n    usable_for_scoring: false,\n    confidence: \"none\",\n    reason,\n    errors: [],\n    warnings: [],\n    review_reasons: [],\n    checks: {\n      enrichment_present: false,\n      enrichment_was_checked: false,\n      domain_match: null,\n      company_name_match: null,\n      has_useful_company_data: false,\n      has_useful_qualification_signals: false,\n      suspicious_vendor_response: false\n    },\n    checked_at: new Date().toISOString()\n  };\n}\n\nreturn items.map((item) => {\n  const lead = item.json;\n\n  const enrichment = lead.enrichment || {};\n  const extractedCompany = lead.extracted?.company || {};\n\n  const errors = [];\n  const warnings = [];\n  const reviewReasons = [];\n\n  const checks = {\n    enrichment_present: !!lead.enrichment,\n    enrichment_was_checked: enrichment.checked === true,\n    domain_match: null,\n    company_name_match: null,\n    has_useful_company_data: false,\n    has_useful_qualification_signals: false,\n    suspicious_vendor_response: false\n  };\n\n  /**\n   * Case 1:\n   * Enrichment was intentionally skipped.\n   * This is not an error. It means this record should not use enrichment for scoring.\n   */\n  if (enrichment.status === \"skipped\") {\n    return {\n      json: {\n        ...lead,\n        enrichment_validation: buildSkippedValidation(enrichment.reason || \"enrichment_skipped\")\n      }\n    };\n  }\n\n  /**\n   * Case 2:\n   * No enrichment object exists.\n   */\n  if (!lead.enrichment) {\n    errors.push(\"missing_enrichment_object\");\n    reviewReasons.push(\"No enrichment object found on the lead.\");\n\n    return {\n      json: {\n        ...lead,\n        enrichment_validation: {\n          status: \"invalid\",\n          usable_for_scoring: false,\n          confidence: \"none\",\n          reason: \"missing_enrichment_object\",\n          errors,\n          warnings,\n          review_reasons: reviewReasons,\n          checks,\n          checked_at: new Date().toISOString()\n        }\n      }\n    };\n  }\n\n  /**\n   * Case 3:\n   * Enrichment returned no data.\n   * This is acceptable, but not useful for enrichment-based scoring.\n   */\n  if (enrichment.status === \"not_found\") {\n    warnings.push(\"enrichment_not_found\");\n    reviewReasons.push(\"Mock enrichment provider returned no usable company data.\");\n\n    return {\n      json: {\n        ...lead,\n        enrichment_validation: {\n          status: \"no_data\",\n          usable_for_scoring: false,\n          confidence: \"unknown\",\n          reason: enrichment.reason || \"enrichment_not_found\",\n          errors,\n          warnings,\n          review_reasons: reviewReasons,\n          checks: {\n            ...checks,\n            enrichment_present: true,\n            enrichment_was_checked: enrichment.checked === true\n          },\n          checked_at: new Date().toISOString()\n        }\n      }\n    };\n  }\n\n  /**\n   * Case 4:\n   * Unexpected enrichment status.\n   */\n  if (enrichment.status !== \"enriched\") {\n    errors.push(\"unexpected_enrichment_status\");\n    reviewReasons.push(`Unexpected enrichment status received: ${enrichment.status || \"missing\"}.`);\n\n    return {\n      json: {\n        ...lead,\n        enrichment_validation: {\n          status: \"invalid\",\n          usable_for_scoring: false,\n          confidence: \"none\",\n          reason: \"unexpected_enrichment_status\",\n          errors,\n          warnings,\n          review_reasons: reviewReasons,\n          checks,\n          checked_at: new Date().toISOString()\n        }\n      }\n    };\n  }\n\n  const enrichedCompany = enrichment.data?.company || {};\n  const enrichedSignals = enrichment.data?.qualification_signals || {};\n\n  const inputDomain = normalizeDomain(\n    extractedCompany.inferred_domain ||\n    extractedCompany.usable_email_domain ||\n    extractedCompany.email_domain ||\n    extractedCompany.domain_from_company_field\n  );\n\n  const enrichedDomain = normalizeDomain(enrichedCompany.domain);\n\n  const inputCompanyName = extractedCompany.raw_name || extractedCompany.normalized_name || \"\";\n  const enrichedCompanyName = enrichedCompany.legal_name || enrichedCompany.normalized_name || \"\";\n\n  /**\n   * Check 1:\n   * Domain consistency.\n   */\n  if (inputDomain && enrichedDomain) {\n    checks.domain_match = inputDomain === enrichedDomain;\n\n    if (!checks.domain_match) {\n      errors.push(\"enrichment_domain_mismatch\");\n      reviewReasons.push(`Input domain ${inputDomain} does not match enriched domain ${enrichedDomain}.`);\n    }\n  } else {\n    warnings.push(\"domain_comparison_not_possible\");\n    reviewReasons.push(\"Could not compare input domain and enriched domain.\");\n  }\n\n  /**\n   * Check 2:\n   * Company name consistency.\n   */\n  const companyNameScore = tokenOverlapScore(inputCompanyName, enrichedCompanyName);\n  checks.company_name_match = companyNameScore >= 0.4;\n\n  if (!checks.company_name_match) {\n    warnings.push(\"company_name_low_similarity\");\n    reviewReasons.push(`Input company name and enriched company name have low similarity. Score: ${companyNameScore.toFixed(2)}.`);\n  }\n\n  /**\n   * Check 3:\n   * Useful company data exists.\n   */\n  const usefulCompanyFields = [\n    enrichedCompany.legal_name,\n    enrichedCompany.normalized_name,\n    enrichedCompany.country,\n    enrichedCompany.region,\n    enrichedCompany.industry,\n    enrichedCompany.sub_industry,\n    enrichedCompany.company_size,\n    enrichedCompany.website\n  ].filter((value) => !isUnknown(value));\n\n  checks.has_useful_company_data = usefulCompanyFields.length >= 4;\n\n  if (!checks.has_useful_company_data) {\n    warnings.push(\"limited_company_enrichment_data\");\n    reviewReasons.push(\"Enriched company data has too many unknown fields.\");\n  }\n\n  /**\n   * Check 4:\n   * Useful qualification signals exist.\n   */\n  const usefulSignalFields = [\n    enrichedSignals.project_developer,\n    enrichedSignals.renewable_energy_focus,\n    enrichedSignals.likely_b2b_customer,\n    enrichedSignals.grid_or_utility_relevance\n  ].filter((value) => !isUnknown(value));\n\n  const marketFitNotes = Array.isArray(enrichedSignals.market_fit_notes)\n    ? enrichedSignals.market_fit_notes\n    : [];\n\n  checks.has_useful_qualification_signals =\n    usefulSignalFields.length >= 3 || marketFitNotes.length > 0;\n\n  if (!checks.has_useful_qualification_signals) {\n    warnings.push(\"limited_qualification_signals\");\n    reviewReasons.push(\"Enrichment does not contain enough qualification signals.\");\n  }\n\n  /**\n   * Check 5:\n   * Suspicious vendor response.\n   */\n  if (Array.isArray(enrichment.warnings) && enrichment.warnings.length > 0) {\n    checks.suspicious_vendor_response = true;\n    warnings.push(...enrichment.warnings);\n    reviewReasons.push(\"Enrichment provider returned warning flags.\");\n  }\n\n  let status = \"valid\";\n  let usableForScoring = true;\n  let confidence = enrichment.confidence || \"unknown\";\n  let reason = \"enrichment_response_validated\";\n\n  if (errors.length > 0) {\n    status = \"invalid\";\n    usableForScoring = false;\n    confidence = \"low\";\n    reason = \"enrichment_response_failed_validation\";\n  } else if (warnings.length > 0) {\n    status = \"valid_with_warnings\";\n    usableForScoring = true;\n    reason = \"enrichment_response_validated_with_warnings\";\n  }\n\n  return {\n    json: {\n      ...lead,\n      enrichment_validation: {\n        status,\n        usable_for_scoring: usableForScoring,\n        confidence,\n        reason,\n        errors,\n        warnings,\n        review_reasons: reviewReasons,\n        checks,\n        checked_at: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        208
      ],
      "id": "29c90d34-4c06-4040-9ae9-21c1015aac32",
      "name": "06A - Validate Enrichment Response"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 07A - Score Lead\n *\n * Purpose:\n * - Scores each lead using transparent, auditable rules.\n * - Uses raw lead information for all usable leads.\n * - Uses enrichment data only when enrichment_validation.usable_for_scoring === true.\n * - Does not route yet.\n * - Does not drop any records.\n *\n * Portfolio version:\n * - Primary market: Malaysia\n * - Secondary market: Southeast Asia\n * - Generic B2B renewable / energy / infrastructure scoring\n */\n\nfunction cleanString(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction lower(value) {\n  return cleanString(value).toLowerCase();\n}\n\nfunction normalizeText(value) {\n  return cleanString(value)\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9]+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction includesAny(text, keywords) {\n  const normalized = normalizeText(text);\n  return keywords.some((keyword) => normalized.includes(normalizeText(keyword)));\n}\n\nfunction addScore(breakdown, category, points, reason) {\n  if (!breakdown[category]) {\n    breakdown[category] = {\n      points: 0,\n      reasons: []\n    };\n  }\n\n  breakdown[category].points += points;\n\n  if (reason) {\n    breakdown[category].reasons.push(reason);\n  }\n}\n\nfunction sumBreakdown(breakdown) {\n  return Object.values(breakdown).reduce((total, category) => {\n    return total + Number(category.points || 0);\n  }, 0);\n}\n\nfunction clampScore(score) {\n  return Math.max(0, Math.min(100, score));\n}\n\nfunction getTier(score) {\n  if (score >= 80) return \"A\";\n  if (score >= 60) return \"B\";\n  if (score >= 40) return \"C\";\n  return \"D\";\n}\n\nfunction getPriority(score) {\n  if (score >= 80) return \"high\";\n  if (score >= 60) return \"medium\";\n  if (score >= 40) return \"low\";\n  return \"very_low\";\n}\n\nfunction getRawText(lead) {\n  const context = lead.extracted?.lead_context || {};\n\n  return [\n    lead.interest,\n    lead.message,\n    context.interest,\n    context.message,\n    lead.company_name,\n    lead.extracted?.company?.raw_name,\n    lead.extracted?.company?.normalized_name\n  ].filter(Boolean).join(\" \");\n}\n\nfunction getClientScoreFromTier(tier, scoreStatus = \"\") {\n  if (tier === \"A\") return 5;\n  if (tier === \"B\") return 4;\n  if (tier === \"C\") return 3;\n  if (tier === \"D\") return 2;\n\n  if (\n    tier === \"blocked\" ||\n    scoreStatus === \"not_scored\" ||\n    scoreStatus === \"not_sales_ready\"\n  ) {\n    return 1;\n  }\n\n  return 1;\n}\n\nfunction getClientScoreRationale(clientScore, tier, scoreStatus, reason) {\n  if (clientScore === 5) {\n    return \"Client score 5 because this is a Tier A lead with strong fit and high sales priority.\";\n  }\n\n  if (clientScore === 4) {\n    return \"Client score 4 because this is a Tier B lead with good fit but lower urgency or confidence than Tier A.\";\n  }\n\n  if (clientScore === 3) {\n    return \"Client score 3 because this is a Tier C lead with moderate fit and should be treated as lower-priority or nurture.\";\n  }\n\n  if (clientScore === 2) {\n    return \"Client score 2 because this is a Tier D lead with weak fit or significant data-quality concerns.\";\n  }\n\n  return `Client score 1 because this lead is not sales-ready due to ${reason || scoreStatus || \"rejection, duplication, or disqualification\"}.`;\n}\n\nfunction hasUsefulCompanyIdentity(lead) {\n  const company = lead.extracted?.company || {};\n  return Boolean(\n    cleanString(company.raw_name) ||\n    cleanString(company.inferred_domain) ||\n    cleanString(company.usable_email_domain)\n  );\n}\n\nfunction isSecondaryMarketCountry(country) {\n  const normalized = normalizeText(country);\n\n  const secondaryMarkets = new Set([\n    \"singapore\",\n    \"indonesia\",\n    \"thailand\",\n    \"vietnam\",\n    \"philippines\",\n    \"brunei\",\n    \"cambodia\",\n    \"laos\",\n    \"myanmar\"\n  ]);\n\n  return secondaryMarkets.has(normalized);\n}\n\nfunction isPrimaryMarket(country) {\n  const normalized = normalizeText(country);\n  return normalized === \"malaysia\";\n}\n\nfunction getLeadScoreStatus(lead) {\n  const validationStatus = lead.validation?.status || \"\";\n  const dedupStatus = lead.dedup?.status || \"\";\n\n  if (validationStatus === \"rejected\") {\n    return {\n      status: \"not_scored\",\n      eligible_for_sales_routing: false,\n      reason: \"validation_rejected\"\n    };\n  }\n\n  if (dedupStatus === \"duplicate\") {\n    return {\n      status: \"not_sales_ready\",\n      eligible_for_sales_routing: false,\n      reason: \"duplicate_existing_account\"\n    };\n  }\n\n  if (dedupStatus === \"possible_duplicate\") {\n    return {\n      status: \"not_sales_ready\",\n      eligible_for_sales_routing: false,\n      reason: \"possible_duplicate_requires_human_review\"\n    };\n  }\n\n  if (dedupStatus === \"skipped\") {\n    return {\n      status: \"not_scored\",\n      eligible_for_sales_routing: false,\n      reason: \"dedup_skipped\"\n    };\n  }\n\n  return {\n    status: \"scored\",\n    eligible_for_sales_routing: true,\n    reason: \"lead_scored\"\n  };\n}\n\nreturn items.map((item) => {\n  const lead = item.json;\n\n  const scoreStatus = getLeadScoreStatus(lead);\n\n  const breakdown = {};\n  const flags = [];\n  const reviewReasons = [];\n\n  const context = lead.extracted?.lead_context || {};\n  const company = lead.extracted?.company || {};\n  const person = lead.extracted?.person || {};\n  const rawText = getRawText(lead);\n\n  const validationStatus = lead.validation?.status || \"\";\n  const enrichmentValidation = lead.enrichment_validation || {};\n  const enrichment = lead.enrichment || {};\n  const enrichedData = enrichment.data || {};\n  const enrichedCompany = enrichedData.company || {};\n  const enrichedSignals = enrichedData.qualification_signals || {};\n\n  const canUseEnrichment = enrichmentValidation.usable_for_scoring === true;\n\n  /**\n   * Rejected, duplicate, or possible duplicate leads are not sales-ready.\n   */\n  if (scoreStatus.status !== \"scored\") {\n    return {\n      json: {\n        ...lead,\n        lead_score: {\n          status: scoreStatus.status,\n          eligible_for_sales_routing: scoreStatus.eligible_for_sales_routing,\n          reason: scoreStatus.reason,\n          total_score: 0,\n          tier: \"blocked\",\n          client_score_1_to_5: 1,\n          score_rationale: getClientScoreRationale(\n            1,\n            \"blocked\",\n            scoreStatus.status,\n            scoreStatus.reason\n          ),\n          priority: \"blocked\",\n          confidence: \"none\",\n          breakdown: {},\n          flags,\n          review_reasons: [\n            scoreStatus.reason\n          ],\n          scoring_inputs: {\n            used_raw_lead_data: true,\n            used_enrichment_data: false,\n            enrichment_validation_status: enrichmentValidation.status || \"\",\n            validation_status: validationStatus,\n            dedup_status: lead.dedup?.status || \"\"\n          },\n          scored_at: new Date().toISOString()\n        }\n      }\n    };\n  }\n\n  /**\n   * 1. Validation quality: max 15\n   */\n  if (validationStatus === \"valid\") {\n    addScore(breakdown, \"validation_quality\", 15, \"Lead passed validation.\");\n  } else if (validationStatus === \"valid_with_warnings\") {\n    addScore(breakdown, \"validation_quality\", 10, \"Lead passed validation with warnings.\");\n    flags.push(\"validation_warnings_present\");\n  } else if (validationStatus === \"needs_review\") {\n    addScore(breakdown, \"validation_quality\", 5, \"Lead is usable but needs human review.\");\n    flags.push(\"needs_review\");\n    reviewReasons.push(\"Validation status requires human review.\");\n  }\n\n  if (hasUsefulCompanyIdentity(lead)) {\n    addScore(breakdown, \"company_identity\", 10, \"Company identity is available.\");\n  } else {\n    flags.push(\"missing_company_identity\");\n    reviewReasons.push(\"Company identity is weak or missing.\");\n  }\n\n  if (cleanString(person.email)) {\n    addScore(breakdown, \"contactability\", 5, \"Email is available.\");\n  }\n\n  if (cleanString(person.phone)) {\n    addScore(breakdown, \"contactability\", 5, \"Phone number is available.\");\n  } else {\n    flags.push(\"missing_phone\");\n  }\n\n  /**\n   * 2. Geography fit: max 20\n   */\n  const country = context.country || lead.country || \"\";\n\n  if (isPrimaryMarket(country)) {\n    addScore(breakdown, \"geography_fit\", 20, \"Lead is in Malaysia, the primary market.\");\n  } else if (isSecondaryMarketCountry(country)) {\n    addScore(breakdown, \"geography_fit\", 12, \"Lead is in Southeast Asia, but outside the primary Malaysia market.\");\n    flags.push(\"outside_primary_market\");\n  } else if (cleanString(country)) {\n    addScore(breakdown, \"geography_fit\", 2, \"Lead is outside the target Southeast Asia market.\");\n    flags.push(\"outside_target_market\");\n    reviewReasons.push(\"Country is outside the main target market.\");\n  } else {\n    flags.push(\"missing_country\");\n    reviewReasons.push(\"Country is missing.\");\n  }\n\n  /**\n   * 3. Project / intent fit from raw lead text: max 25\n   */\n  if (includesAny(rawText, [\n    \"solar\",\n    \"pv\",\n    \"photovoltaic\",\n    \"rooftop\",\n    \"solar farm\",\n    \"storage\",\n    \"battery\",\n    \"wind\",\n    \"renewable\",\n    \"energy efficiency\",\n    \"grid integration\"\n  ])) {\n    addScore(breakdown, \"project_fit\", 10, \"Lead mentions renewable-energy or energy-infrastructure project interest.\");\n  }\n\n  if (includesAny(rawText, [\n    \"project\",\n    \"development\",\n    \"co-develop\",\n    \"partnership\",\n    \"partner\",\n    \"cooperation\",\n    \"tender\",\n    \"procurement\",\n    \"supply agreement\",\n    \"integration\"\n  ])) {\n    addScore(breakdown, \"project_fit\", 8, \"Lead message suggests a partnership, procurement, integration, or development opportunity.\");\n  }\n\n  if (includesAny(rawText, [\n    \"mw\",\n    \"mwh\",\n    \"kw\",\n    \"500kw\",\n    \"3mw\",\n    \"million\",\n    \"budget\",\n    \"industrial\",\n    \"factory\",\n    \"warehouse\",\n    \"logistics\",\n    \"facility\",\n    \"municipal\",\n    \"grid\"\n  ])) {\n    addScore(breakdown, \"project_fit\", 7, \"Lead includes project size, budget, asset, or infrastructure signal.\");\n  }\n\n  /**\n   * 4. Company type / market fit from raw text: max 15\n   */\n  if (includesAny(rawText, [\n    \"utility\",\n    \"energy\",\n    \"municipal\",\n    \"grid\",\n    \"procurement\",\n    \"industrial\",\n    \"factory\",\n    \"warehouse\",\n    \"logistics\",\n    \"solar\",\n    \"wind\",\n    \"renewable\",\n    \"battery\",\n    \"storage\",\n    \"infrastructure\",\n    \"manufacturing\",\n    \"commercial\"\n  ])) {\n    addScore(breakdown, \"company_fit\", 10, \"Company or message appears relevant to energy, infrastructure, industrial, commercial, or renewable sector.\");\n  }\n\n  if (includesAny(rawText, [\n    \"supplier\",\n    \"equipment supplier\",\n    \"manufacturer only\",\n    \"vendor only\",\n    \"we manufacture\",\n    \"offer supply pricing\"\n  ])) {\n    addScore(breakdown, \"company_fit\", -8, \"Lead appears more like a supplier/vendor than a project opportunity.\");\n    flags.push(\"supplier_or_vendor_style_lead\");\n    reviewReasons.push(\"Lead may be a supplier rather than a buyer or project partner.\");\n  }\n\n  /**\n   * 5. Trusted enrichment bonus: max 20\n   */\n  if (canUseEnrichment) {\n    addScore(breakdown, \"trusted_enrichment\", 5, \"Enrichment response passed validation.\");\n\n    if (enrichedSignals.renewable_energy_focus === true) {\n      addScore(breakdown, \"trusted_enrichment\", 5, \"Enrichment confirms renewable-energy focus.\");\n    }\n\n    if (enrichedSignals.likely_b2b_customer === true) {\n      addScore(breakdown, \"trusted_enrichment\", 5, \"Enrichment suggests likely B2B customer or partner fit.\");\n    }\n\n    if (\n      enrichedSignals.grid_or_utility_relevance === \"high\" ||\n      enrichedCompany.industry === \"energy_infrastructure\" ||\n      enrichedCompany.industry === \"municipal_energy\" ||\n      enrichedCompany.sub_industry === \"battery_storage_and_grid_integration\" ||\n      enrichedCompany.sub_industry === \"public_sector_energy_efficiency\"\n    ) {\n      addScore(breakdown, \"trusted_enrichment\", 5, \"Enrichment suggests high grid, municipal, or energy-infrastructure relevance.\");\n    }\n  } else {\n    flags.push(\"no_trusted_enrichment_used\");\n  }\n\n  /**\n   * 6. Penalties / caution signals\n   */\n  if (Array.isArray(lead.validation?.warnings) && lead.validation.warnings.includes(\"possible_email_domain_typo\")) {\n    addScore(breakdown, \"penalties\", -8, \"Possible email domain typo.\");\n    flags.push(\"possible_email_domain_typo\");\n    reviewReasons.push(\"Email domain may need correction before outreach.\");\n  }\n\n  if (validationStatus === \"needs_review\") {\n    addScore(breakdown, \"penalties\", -10, \"Lead requires manual review before confident routing.\");\n  }\n\n  if (company.is_generic_email_domain === true && !cleanString(company.raw_name)) {\n    addScore(breakdown, \"penalties\", -10, \"Generic email domain without company name.\");\n    flags.push(\"generic_email_without_company\");\n  }\n\n  const rawScore = sumBreakdown(breakdown);\n  const totalScore = clampScore(rawScore);\n\n  const tier = getTier(totalScore);\n  const priority = getPriority(totalScore);\n  const clientScore = getClientScoreFromTier(tier, \"scored\");\n  const scoreRationale = getClientScoreRationale(\n    clientScore,\n    tier,\n    \"scored\",\n    \"lead_scored\"\n  );\n\n  let confidence = \"medium\";\n\n  if (canUseEnrichment && validationStatus === \"valid\") {\n    confidence = \"high\";\n  } else if (!canUseEnrichment || validationStatus !== \"valid\") {\n    confidence = \"medium\";\n  }\n\n  if (validationStatus === \"needs_review\") {\n    confidence = \"low\";\n  }\n\n  return {\n    json: {\n      ...lead,\n      lead_score: {\n        status: \"scored\",\n        eligible_for_sales_routing: true,\n        reason: \"lead_scored\",\n        total_score: totalScore,\n        tier,\n        client_score_1_to_5: clientScore,\n        score_rationale: scoreRationale,\n        priority,\n        confidence,\n        breakdown,\n        flags: [...new Set(flags)],\n        review_reasons: [...new Set(reviewReasons)],\n        scoring_inputs: {\n          used_raw_lead_data: true,\n          used_enrichment_data: canUseEnrichment,\n          enrichment_validation_status: enrichmentValidation.status || \"\",\n          validation_status: validationStatus,\n          dedup_status: lead.dedup?.status || \"\"\n        },\n        scored_at: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ],
      "id": "19d03f55-b6c5-4262-81ed-0dab4d5b8d6d",
      "name": "07A - Score Lead"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 08A - Route Lead\n *\n * Purpose:\n * - Converts validation, deduplication, enrichment validation, and lead score into a business route.\n * - Does not write to CRM or files yet.\n * - Does not drop records.\n * - Routes each lead into one of three production-style outcomes:\n *   1. Qualified CRM-ready lead\n *   2. Human review queue\n *   3. Audit / archive log\n *\n * Portfolio version:\n * - Primary market: Malaysia\n * - Secondary market: Southeast Asia\n * - Generic CRM wording instead of client-specific or assessment wording\n */\n\nfunction cleanString(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction normalizeText(value) {\n  return cleanString(value)\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9]+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction isPrimaryMarket(country) {\n  const normalized = normalizeText(country);\n  return normalized === \"malaysia\";\n}\n\nfunction isSecondaryMarketCountry(country) {\n  const normalized = normalizeText(country);\n\n  const secondaryMarkets = new Set([\n    \"singapore\",\n    \"indonesia\",\n    \"thailand\",\n    \"vietnam\",\n    \"philippines\",\n    \"brunei\",\n    \"cambodia\",\n    \"laos\",\n    \"myanmar\"\n  ]);\n\n  return secondaryMarkets.has(normalized);\n}\n\nfunction buildRoute({\n  route,\n  action,\n  owner_team,\n  priority,\n  reason,\n  sla_hours,\n  should_create_crm_deal,\n  should_create_crm_activity,\n  should_notify_sales,\n  should_log_to_audit,\n  review_required,\n  route_notes,\n  next_step\n}) {\n  return {\n    route,\n    action,\n    owner_team,\n    priority,\n    reason,\n    sla_hours,\n    should_create_crm_deal,\n    should_create_crm_activity,\n    should_notify_sales,\n    should_log_to_audit,\n    review_required,\n    route_notes: Array.isArray(route_notes) ? route_notes.filter(Boolean) : [],\n    next_step,\n    routed_at: new Date().toISOString()\n  };\n}\n\nfunction hasAnyFlag(flags, targetFlags) {\n  if (!Array.isArray(flags)) return false;\n  return targetFlags.some(flag => flags.includes(flag));\n}\n\nfunction getCountry(lead) {\n  return (\n    lead.extracted?.lead_context?.country ||\n    lead.country ||\n    \"\"\n  );\n}\n\nfunction getScoreValue(lead) {\n  const value = Number(lead.lead_score?.total_score);\n  return Number.isFinite(value) ? value : 0;\n}\n\nfunction getTier(lead) {\n  return cleanString(lead.lead_score?.tier || \"\");\n}\n\nfunction getPriorityFromScore(totalScore) {\n  if (totalScore >= 80) return \"high\";\n  if (totalScore >= 60) return \"medium\";\n  if (totalScore >= 40) return \"low\";\n  return \"very_low\";\n}\n\nreturn items.map((item) => {\n  const lead = item.json || {};\n\n  const validationStatus = cleanString(lead.validation?.status || \"unknown\");\n  const dedupStatus = cleanString(lead.dedup?.status || \"unknown\");\n  const enrichmentValidationStatus = cleanString(lead.enrichment_validation?.status || \"unknown\");\n  const enrichmentUsableForScoring = lead.enrichment_validation?.usable_for_scoring === true;\n\n  const leadScore = lead.lead_score || {};\n  const scoreStatus = cleanString(leadScore.status || \"unknown\");\n  const totalScore = getScoreValue(lead);\n  const tier = getTier(lead);\n  const priority = leadScore.priority || getPriorityFromScore(totalScore);\n  const scoreFlags = Array.isArray(leadScore.flags) ? leadScore.flags : [];\n  const country = getCountry(lead);\n\n  const routeNotes = [\n    `Validation status: ${validationStatus}`,\n    `Dedup status: ${dedupStatus}`,\n    `Enrichment validation status: ${enrichmentValidationStatus}`,\n    `Score status: ${scoreStatus}`,\n    `Score: ${totalScore}`,\n    `Tier: ${tier || \"none\"}`,\n    `Country: ${country || \"unknown\"}`\n  ];\n\n  /**\n   * 1. Rejected or unprocessable records\n   */\n  if (\n    validationStatus === \"rejected\" ||\n    scoreStatus === \"not_scored\" ||\n    leadScore.eligible_for_sales_routing === false\n  ) {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"disqualified_audit_log\",\n          action: \"log_only_no_sales_action\",\n          owner_team: \"operations\",\n          priority: \"very_low\",\n          reason: leadScore.reason || \"Lead is rejected, not scored, or not eligible for sales routing.\",\n          sla_hours: null,\n          should_create_crm_deal: false,\n          should_create_crm_activity: false,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: false,\n          route_notes: [\n            ...routeNotes,\n            ...(lead.validation?.review_reasons || []),\n            ...(leadScore.review_reasons || [])\n          ],\n          next_step: \"Keep in audit log for traceability. No sales action required.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 2. Existing CRM duplicate\n   */\n  if (dedupStatus === \"duplicate\") {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"existing_crm_record\",\n          action: \"create_crm_activity_only\",\n          owner_team: \"sales_operations\",\n          priority: \"low\",\n          reason: \"Lead matches an existing CRM organization.\",\n          sla_hours: 48,\n          should_create_crm_deal: false,\n          should_create_crm_activity: true,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: false,\n          route_notes: [\n            ...routeNotes,\n            `Matched company: ${lead.dedup?.matched_company_name || \"unknown\"}`,\n            `Match type: ${lead.dedup?.match_type || \"unknown\"}`,\n            `Match score: ${lead.dedup?.match_score ?? \"unknown\"}`,\n            \"Do not create a duplicate CRM deal.\"\n          ],\n          next_step: \"Attach activity or note to the existing CRM organization.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 3. Possible duplicate / subsidiary / fuzzy match\n   */\n  if (dedupStatus === \"possible_duplicate\") {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"manual_duplicate_review\",\n          action: \"manual_entity_resolution_review\",\n          owner_team: \"sales_operations\",\n          priority: totalScore >= 70 ? \"medium\" : \"low\",\n          reason: \"Lead may match an existing CRM organization but requires human review before merging or creating a new deal.\",\n          sla_hours: 24,\n          should_create_crm_deal: false,\n          should_create_crm_activity: false,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: true,\n          route_notes: [\n            ...routeNotes,\n            `Matched company: ${lead.dedup?.matched_company_name || \"unknown\"}`,\n            `Match type: ${lead.dedup?.match_type || \"unknown\"}`,\n            `Match score: ${lead.dedup?.match_score ?? \"unknown\"}`,\n            lead.dedup?.reason || \"\"\n          ],\n          next_step: \"Confirm whether this is the same company, a subsidiary, or a new organization.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 4. Enrichment response failed validation\n   */\n  if (enrichmentValidationStatus === \"invalid\") {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"manual_enrichment_review\",\n          action: \"manual_enrichment_validation_review\",\n          owner_team: \"sales_operations\",\n          priority: totalScore >= 60 ? \"medium\" : \"low\",\n          reason: \"Enrichment response failed validation and should not be trusted without review.\",\n          sla_hours: 24,\n          should_create_crm_deal: false,\n          should_create_crm_activity: false,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: true,\n          route_notes: [\n            ...routeNotes,\n            ...(lead.enrichment_validation?.review_reasons || []),\n            ...(lead.enrichment_validation?.errors || []),\n            ...(lead.enrichment_validation?.warnings || [])\n          ],\n          next_step: \"Review enrichment mismatch before deciding whether to create a CRM deal.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 5. Non-target market review\n   *\n   * A strong lead outside Malaysia may still be interesting,\n   * but it should not enter normal Malaysia sales routing directly.\n   */\n  if (cleanString(country) && !isPrimaryMarket(country)) {\n    const isSecondaryMarket = isSecondaryMarketCountry(country);\n\n    if (!isSecondaryMarket) {\n      return {\n        json: {\n          ...lead,\n          routing: buildRoute({\n            route: \"non_target_market_review\",\n            action: \"manual_market_fit_review\",\n            owner_team: \"partnerships\",\n            priority: totalScore >= 60 ? \"medium\" : \"low\",\n            reason: \"Lead is outside the current target Southeast Asia market.\",\n            sla_hours: 48,\n            should_create_crm_deal: false,\n            should_create_crm_activity: false,\n            should_notify_sales: false,\n            should_log_to_audit: true,\n            review_required: true,\n            route_notes: [\n              ...routeNotes,\n              \"Do not route to normal Malaysia sales workflow without review.\"\n            ],\n            next_step: \"Review for partnership, supplier, or future expansion relevance.\"\n          })\n        }\n      };\n    }\n\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"secondary_market_review\",\n          action: \"manual_market_fit_review\",\n          owner_team: \"sales_operations\",\n          priority: totalScore >= 70 ? \"medium\" : \"low\",\n          reason: \"Lead is in Southeast Asia but outside the primary Malaysia market.\",\n          sla_hours: 48,\n          should_create_crm_deal: false,\n          should_create_crm_activity: false,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: true,\n          route_notes: [\n            ...routeNotes,\n            \"Review before creating a normal Malaysia sales deal.\"\n          ],\n          next_step: \"Review market ownership and decide whether to create CRM deal or partner handoff.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 6. Needs review or weak identity\n   */\n  if (\n    validationStatus === \"needs_review\" ||\n    hasAnyFlag(scoreFlags, [\n      \"generic_email_without_company\",\n      \"missing_company_identity\",\n      \"possible_email_domain_typo\",\n      \"low_extraction_confidence\"\n    ])\n  ) {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"manual_review\",\n          action: \"manual_data_quality_review\",\n          owner_team: \"sales_operations\",\n          priority: totalScore >= 50 ? \"medium\" : \"low\",\n          reason: \"Lead has data quality issues that require review before outreach.\",\n          sla_hours: 48,\n          should_create_crm_deal: false,\n          should_create_crm_activity: false,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: true,\n          route_notes: [\n            ...routeNotes,\n            ...(lead.validation?.review_reasons || []),\n            ...(leadScore.review_reasons || [])\n          ],\n          next_step: \"Fix or confirm company identity before routing to sales.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 7. Supplier / vendor style leads\n   */\n  if (\n    hasAnyFlag(scoreFlags, [\n      \"supplier_or_vendor_style_lead\",\n      \"equipment_supplier\",\n      \"vendor_outreach\",\n      \"low_buyer_intent\"\n    ])\n  ) {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"supplier_partner_review\",\n          action: \"manual_supplier_or_partner_review\",\n          owner_team: \"partnerships\",\n          priority: totalScore >= 60 ? \"medium\" : \"low\",\n          reason: \"Lead appears to be a supplier, vendor, or partnership inquiry rather than a direct sales opportunity.\",\n          sla_hours: 72,\n          should_create_crm_deal: false,\n          should_create_crm_activity: false,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: true,\n          route_notes: [\n            ...routeNotes,\n            ...(leadScore.review_reasons || [])\n          ],\n          next_step: \"Review as a potential supplier, partner, or non-sales opportunity.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 8. Qualified CRM-ready leads\n   */\n  if (\n    leadScore.eligible_for_sales_routing === true &&\n    dedupStatus === \"new\" &&\n    [\"A\", \"B\"].includes(tier) &&\n    totalScore >= 60\n  ) {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"qualified_to_crm\",\n          action: \"create_crm_deal_and_activity\",\n          owner_team: \"sales\",\n          priority: priority || \"medium\",\n          reason: `Lead is qualified for CRM creation as Tier ${tier}.`,\n          sla_hours: tier === \"A\" ? 4 : 24,\n          should_create_crm_deal: true,\n          should_create_crm_activity: true,\n          should_notify_sales: tier === \"A\",\n          should_log_to_audit: true,\n          review_required: false,\n          route_notes: [\n            ...routeNotes,\n            enrichmentUsableForScoring\n              ? \"Validated enrichment data was available for scoring.\"\n              : \"Lead was scored without relying on enrichment data.\",\n            tier === \"A\"\n              ? \"High-priority lead. Sales follow-up recommended within 4 hours.\"\n              : \"Qualified lead. Sales follow-up recommended within 24 hours.\"\n          ],\n          next_step: \"Create CRM deal, add activity/note, and assign to sales.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 9. Borderline nurture / review queue\n   */\n  if (\n    tier === \"C\" ||\n    (totalScore >= 40 && totalScore < 60)\n  ) {\n    return {\n      json: {\n        ...lead,\n        routing: buildRoute({\n          route: \"nurture_or_review_queue\",\n          action: \"add_to_review_or_nurture_queue\",\n          owner_team: \"marketing\",\n          priority: \"low\",\n          reason: \"Lead has moderate fit but is not strong enough for immediate CRM deal creation.\",\n          sla_hours: 72,\n          should_create_crm_deal: false,\n          should_create_crm_activity: false,\n          should_notify_sales: false,\n          should_log_to_audit: true,\n          review_required: true,\n          route_notes: [\n            ...routeNotes,\n            ...(leadScore.review_reasons || [])\n          ],\n          next_step: \"Add to nurture or marketing follow-up list.\"\n        })\n      }\n    };\n  }\n\n  /**\n   * 10. Low-quality catch-all\n   */\n  return {\n    json: {\n      ...lead,\n      routing: buildRoute({\n        route: \"low_quality_archive\",\n        action: \"archive_no_sales_action\",\n        owner_team: \"marketing\",\n        priority: \"very_low\",\n        reason: \"Lead score is too low for active sales or nurture action.\",\n        sla_hours: null,\n        should_create_crm_deal: false,\n        should_create_crm_activity: false,\n        should_notify_sales: false,\n        should_log_to_audit: true,\n        review_required: false,\n        route_notes: [\n          ...routeNotes,\n          ...(leadScore.review_reasons || [])\n        ],\n        next_step: \"Keep in audit log only unless manually reactivated.\"\n      })\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        448
      ],
      "id": "a953d5ad-9e51-48ac-8aed-83095b3e227e",
      "name": "08A - Route Lead"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 09A - Prepare CRM and Audit Outputs\n *\n * Purpose:\n * - Prepares clean, business-ready output objects for:\n *   1. Mock CRM deal creation\n *   2. Mock CRM activity/note creation\n *   3. Human review queue\n *   4. Audit log\n *\n * Important:\n * - This node does NOT call a live CRM or Google Sheets.\n * - It only prepares clean payloads.\n * - It does not drop records.\n * - It surfaces client_score_1_to_5 and score_rationale in:\n *   1. lead_summary\n *   2. mock CRM deal custom fields and note\n *   3. human review payload\n *   4. audit log\n */\n\nfunction cleanString(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction normalizeDomain(value) {\n  let domain = cleanString(value).toLowerCase();\n\n  domain = domain\n    .replace(/^https?:\\/\\//, \"\")\n    .replace(/^www\\./, \"\")\n    .split(\"/\")[0]\n    .split(\"?\")[0]\n    .split(\"#\")[0];\n\n  return domain;\n}\n\nfunction getEmailDomain(email) {\n  const cleanEmail = cleanString(email).toLowerCase();\n  if (!cleanEmail.includes(\"@\")) return \"\";\n\n  return normalizeDomain(cleanEmail.split(\"@\").pop());\n}\n\nfunction isGenericEmailDomain(domain) {\n  const genericDomains = new Set([\n    \"gmail.com\",\n    \"googlemail.com\",\n    \"outlook.com\",\n    \"hotmail.com\",\n    \"live.com\",\n    \"icloud.com\",\n    \"yahoo.com\",\n    \"proton.me\",\n    \"protonmail.com\",\n    \"aol.com\",\n    \"gmx.com\",\n    \"gmx.de\",\n    \"web.de\"\n  ]);\n\n  return genericDomains.has(normalizeDomain(domain));\n}\n\nfunction isUnknown(value) {\n  const clean = cleanString(value).toLowerCase();\n  return clean === \"\" || clean === \"unknown\" || clean === \"null\" || clean === \"undefined\";\n}\n\nfunction buildCompanyDisplay(lead) {\n  const extractedCompany = lead.extracted?.company || {};\n  const person = lead.extracted?.person || {};\n  const enrichment = lead.enrichment || {};\n  const enrichmentValidation = lead.enrichment_validation || {};\n  const enrichedCompany = enrichment.data?.company || {};\n\n  const canUseEnrichment = enrichmentValidation.usable_for_scoring === true;\n\n  const enrichedLegalName = cleanString(enrichedCompany.legal_name);\n  const enrichedNormalizedName = cleanString(enrichedCompany.normalized_name);\n  const rawCompanyName = cleanString(extractedCompany.raw_name);\n  const inferredDomain = normalizeDomain(extractedCompany.inferred_domain);\n  const usableEmailDomain = normalizeDomain(extractedCompany.usable_email_domain);\n  const domainFromCompanyField = normalizeDomain(extractedCompany.domain_from_company_field);\n  const emailDomain = normalizeDomain(getEmailDomain(person.email));\n\n  if (canUseEnrichment && !isUnknown(enrichedLegalName)) {\n    return {\n      company_display_name: enrichedLegalName,\n      company_display_source: \"trusted_enrichment_legal_name\",\n      company_name_needs_review: false,\n      company_domain: normalizeDomain(enrichedCompany.domain) || inferredDomain || usableEmailDomain || \"\",\n      company_identity_quality: \"high\"\n    };\n  }\n\n  if (canUseEnrichment && !isUnknown(enrichedNormalizedName)) {\n    return {\n      company_display_name: enrichedNormalizedName,\n      company_display_source: \"trusted_enrichment_normalized_name\",\n      company_name_needs_review: false,\n      company_domain: normalizeDomain(enrichedCompany.domain) || inferredDomain || usableEmailDomain || \"\",\n      company_identity_quality: \"high\"\n    };\n  }\n\n  if (!isUnknown(rawCompanyName)) {\n    return {\n      company_display_name: rawCompanyName,\n      company_display_source: \"extracted_raw_company_name\",\n      company_name_needs_review: false,\n      company_domain: inferredDomain || usableEmailDomain || domainFromCompanyField || \"\",\n      company_identity_quality: \"medium\"\n    };\n  }\n\n  if (!isUnknown(inferredDomain)) {\n    return {\n      company_display_name: inferredDomain,\n      company_display_source: \"inferred_domain\",\n      company_name_needs_review: true,\n      company_domain: inferredDomain,\n      company_identity_quality: \"low\"\n    };\n  }\n\n  if (!isUnknown(usableEmailDomain)) {\n    return {\n      company_display_name: usableEmailDomain,\n      company_display_source: \"usable_email_domain\",\n      company_name_needs_review: true,\n      company_domain: usableEmailDomain,\n      company_identity_quality: \"low\"\n    };\n  }\n\n  if (!isUnknown(domainFromCompanyField)) {\n    return {\n      company_display_name: domainFromCompanyField,\n      company_display_source: \"domain_from_company_field\",\n      company_name_needs_review: true,\n      company_domain: domainFromCompanyField,\n      company_identity_quality: \"low\"\n    };\n  }\n\n  if (!isUnknown(emailDomain) && !isGenericEmailDomain(emailDomain)) {\n    return {\n      company_display_name: emailDomain,\n      company_display_source: \"non_generic_email_domain\",\n      company_name_needs_review: true,\n      company_domain: emailDomain,\n      company_identity_quality: \"low\"\n    };\n  }\n\n  return {\n    company_display_name: \"unknown\",\n    company_display_source: \"unavailable\",\n    company_name_needs_review: true,\n    company_domain: \"\",\n    company_identity_quality: \"unknown\"\n  };\n}\n\nfunction buildContactDisplay(lead) {\n  const person = lead.extracted?.person || {};\n\n  return {\n    person_full_name: cleanString(person.full_name),\n    first_name: cleanString(person.first_name),\n    last_name: cleanString(person.last_name),\n    email: cleanString(person.email),\n    phone: cleanString(person.phone)\n  };\n}\n\nfunction buildLeadSummary(lead, companyDisplay, contactDisplay) {\n  const context = lead.extracted?.lead_context || {};\n  const score = lead.lead_score || {};\n  const routing = lead.routing || {};\n\n  return {\n    intake_id: lead.intake_id || \"\",\n    source: context.source || lead.source || \"\",\n    received_at: lead.intake_received_at || \"\",\n    submitted_at: context.timestamp || lead.timestamp || \"\",\n\n    company_display_name: companyDisplay.company_display_name,\n    company_display_source: companyDisplay.company_display_source,\n    company_name_needs_review: companyDisplay.company_name_needs_review,\n    company_domain: companyDisplay.company_domain,\n    company_identity_quality: companyDisplay.company_identity_quality,\n\n    person_full_name: contactDisplay.person_full_name,\n    email: contactDisplay.email,\n    phone: contactDisplay.phone,\n    country: context.country || lead.country || \"\",\n    language: context.detected_language || context.language || lead.language || \"\",\n\n    interest: context.interest || lead.interest || \"\",\n    message: context.message || lead.message || \"\",\n\n    validation_status: lead.validation?.status || \"\",\n    dedup_status: lead.dedup?.status || \"\",\n    enrichment_status: lead.enrichment?.status || \"\",\n    enrichment_validation_status: lead.enrichment_validation?.status || \"\",\n\n    score_status: score.status || \"\",\n    total_score: score.total_score ?? \"\",\n    tier: score.tier || \"\",\n    client_score_1_to_5: score.client_score_1_to_5 ?? \"\",\n    score_rationale: score.score_rationale || \"\",\n    priority: score.priority || \"\",\n    score_confidence: score.confidence || \"\",\n\n    route: routing.route || \"\",\n    action: routing.action || \"\",\n    owner_team: routing.owner_team || \"\",\n    routing_priority: routing.priority || \"\",\n    review_required: routing.review_required ?? false\n  };\n}\n\nfunction buildMockCrmDealPayload(lead, companyDisplay, contactDisplay) {\n  const score = lead.lead_score || {};\n  const routing = lead.routing || {};\n  const context = lead.extracted?.lead_context || {};\n\n  if (routing.should_create_crm_deal !== true) return null;\n\n  return {\n    operation: \"create_deal\",\n    system: \"mock_crm\",\n    deal_title: `${companyDisplay.company_display_name} - ${context.interest || lead.interest || \"New lead\"}`,\n    organization_name: companyDisplay.company_display_name,\n    organization_domain: companyDisplay.company_domain || null,\n    person_name: contactDisplay.person_full_name || null,\n    person_email: contactDisplay.email || null,\n    person_phone: contactDisplay.phone || null,\n\n    pipeline: \"Inbound Leads\",\n    stage: routing.priority === \"high\" ? \"Priority Qualification\" : \"New Lead\",\n    owner_team: routing.owner_team || \"sales\",\n\n    custom_fields: {\n      lead_score: score.total_score ?? null,\n      lead_tier: score.tier || null,\n      client_score_1_to_5: score.client_score_1_to_5 ?? null,\n      score_rationale: score.score_rationale || null,\n      score_confidence: score.confidence || null,\n      route: routing.route || null,\n      source: context.source || lead.source || null,\n      country: context.country || lead.country || null,\n      language: context.detected_language || context.language || lead.language || null,\n      company_display_source: companyDisplay.company_display_source,\n      company_name_needs_review: companyDisplay.company_name_needs_review,\n      enrichment_used_for_scoring: score.scoring_inputs?.used_enrichment_data ?? false,\n      enrichment_status: lead.enrichment?.status || null,\n      dedup_status: lead.dedup?.status || null\n    },\n\n    note: [\n      `Routing reason: ${routing.reason || \"\"}`,\n      `Client score: ${score.client_score_1_to_5 ?? \"\"}/5`,\n      `Score rationale: ${score.score_rationale || \"\"}`,\n      `Next step: ${routing.next_step || \"\"}`,\n      `Lead message: ${context.message || lead.message || \"\"}`\n    ].filter(Boolean).join(\"\\n\")\n  };\n}\n\nfunction buildMockCrmActivityPayload(lead, companyDisplay, contactDisplay) {\n  const routing = lead.routing || {};\n  const score = lead.lead_score || {};\n  const context = lead.extracted?.lead_context || {};\n\n  if (routing.should_create_crm_activity !== true) return null;\n\n  const isDuplicate = lead.dedup?.status === \"duplicate\";\n\n  return {\n    operation: isDuplicate ? \"create_activity_on_existing_org\" : \"create_follow_up_activity\",\n    system: \"mock_crm\",\n\n    organization_name: isDuplicate\n      ? lead.dedup?.matched_company_name || companyDisplay.company_display_name\n      : companyDisplay.company_display_name,\n\n    matched_crm_org_id: isDuplicate\n      ? lead.dedup?.matched_crm_org_id || null\n      : null,\n\n    activity_type: isDuplicate ? \"note\" : \"call\",\n    subject: isDuplicate\n      ? `New inbound lead matched existing account: ${companyDisplay.company_display_name}`\n      : `Follow up with ${companyDisplay.company_display_name}`,\n\n    due_in_hours: routing.sla_hours ?? null,\n    owner_team: routing.owner_team || \"\",\n\n    contact: {\n      name: contactDisplay.person_full_name || null,\n      email: contactDisplay.email || null,\n      phone: contactDisplay.phone || null\n    },\n\n    context: {\n      route: routing.route || \"\",\n      score: score.total_score ?? null,\n      tier: score.tier || \"\",\n      client_score_1_to_5: score.client_score_1_to_5 ?? null,\n      score_rationale: score.score_rationale || \"\",\n      source: context.source || lead.source || \"\",\n      interest: context.interest || lead.interest || \"\",\n      message: context.message || lead.message || \"\"\n    }\n  };\n}\n\nfunction buildHumanReviewPayload(lead, companyDisplay, contactDisplay) {\n  const routing = lead.routing || {};\n  const score = lead.lead_score || {};\n\n  if (routing.review_required !== true) return null;\n\n  return {\n    operation: \"add_to_human_review_queue\",\n    queue: routing.route || \"manual_review\",\n    owner_team: routing.owner_team || \"sales_operations\",\n    priority: routing.priority || \"medium\",\n    sla_hours: routing.sla_hours ?? null,\n\n    company_display_name: companyDisplay.company_display_name,\n    company_display_source: companyDisplay.company_display_source,\n    company_name_needs_review: companyDisplay.company_name_needs_review,\n    company_domain: companyDisplay.company_domain || null,\n\n    contact: {\n      name: contactDisplay.person_full_name || null,\n      email: contactDisplay.email || null,\n      phone: contactDisplay.phone || null\n    },\n\n    reason: routing.reason || \"\",\n    next_step: routing.next_step || \"\",\n    route_notes: routing.route_notes || [],\n\n    validation: {\n      status: lead.validation?.status || \"\",\n      errors: lead.validation?.errors || [],\n      warnings: lead.validation?.warnings || [],\n      review_reasons: lead.validation?.review_reasons || []\n    },\n\n    dedup: {\n      status: lead.dedup?.status || \"\",\n      matched_company_name: lead.dedup?.matched_company_name || \"\",\n      matched_crm_org_id: lead.dedup?.matched_crm_org_id || \"\",\n      match_type: lead.dedup?.match_type || \"\",\n      reason: lead.dedup?.reason || \"\"\n    },\n\n    score: {\n      total_score: score.total_score ?? null,\n      tier: score.tier || \"\",\n      client_score_1_to_5: score.client_score_1_to_5 ?? null,\n      score_rationale: score.score_rationale || \"\",\n      confidence: score.confidence || \"\",\n      flags: score.flags || [],\n      review_reasons: score.review_reasons || []\n    }\n  };\n}\n\nfunction buildAuditPayload(lead, companyDisplay, contactDisplay, outputs) {\n  const score = lead.lead_score || {};\n  const routing = lead.routing || {};\n\n  return {\n    operation: \"append_audit_log\",\n    system: \"mock_json_audit\",\n    audit_id: `${lead.intake_id || \"unknown\"}_${Date.now()}`,\n\n    intake_id: lead.intake_id || \"\",\n    company_display_name: companyDisplay.company_display_name,\n    company_display_source: companyDisplay.company_display_source,\n    company_name_needs_review: companyDisplay.company_name_needs_review,\n    person_full_name: contactDisplay.person_full_name,\n    email: contactDisplay.email,\n\n    validation_status: lead.validation?.status || \"\",\n    dedup_status: lead.dedup?.status || \"\",\n    enrichment_status: lead.enrichment?.status || \"\",\n    enrichment_validation_status: lead.enrichment_validation?.status || \"\",\n\n    score_status: score.status || \"\",\n    total_score: score.total_score ?? null,\n    tier: score.tier || \"\",\n    client_score_1_to_5: score.client_score_1_to_5 ?? null,\n    score_rationale: score.score_rationale || \"\",\n    score_confidence: score.confidence || \"\",\n\n    route: routing.route || \"\",\n    action: routing.action || \"\",\n    owner_team: routing.owner_team || \"\",\n    routing_priority: routing.priority || \"\",\n    review_required: routing.review_required ?? false,\n\n    output_flags: {\n      crm_deal_payload_created: outputs.mock_crm_deal !== null,\n      crm_activity_payload_created: outputs.mock_crm_activity !== null,\n      human_review_payload_created: outputs.human_review_queue !== null,\n      audit_payload_created: true\n    },\n\n    reason: routing.reason || \"\",\n    next_step: routing.next_step || \"\",\n    created_at: new Date().toISOString()\n  };\n}\n\nreturn items.map((item) => {\n  const lead = item.json;\n\n  const companyDisplay = buildCompanyDisplay(lead);\n  const contactDisplay = buildContactDisplay(lead);\n\n  const leadSummary = buildLeadSummary(lead, companyDisplay, contactDisplay);\n\n  const mockCrmDeal = buildMockCrmDealPayload(\n    lead,\n    companyDisplay,\n    contactDisplay\n  );\n\n  const mockCrmActivity = buildMockCrmActivityPayload(\n    lead,\n    companyDisplay,\n    contactDisplay\n  );\n\n  const humanReviewQueue = buildHumanReviewPayload(\n    lead,\n    companyDisplay,\n    contactDisplay\n  );\n\n  const outputs = {\n    lead_summary: leadSummary,\n    mock_crm_deal: mockCrmDeal,\n    mock_crm_activity: mockCrmActivity,\n    human_review_queue: humanReviewQueue,\n    audit_log: null\n  };\n\n  outputs.audit_log = buildAuditPayload(\n    lead,\n    companyDisplay,\n    contactDisplay,\n    outputs\n  );\n\n  return {\n    json: {\n      ...lead,\n      output_preparation: {\n        status: \"prepared\",\n        prepared_at: new Date().toISOString(),\n        company_display: companyDisplay,\n        contact_display: contactDisplay,\n        outputs\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        448
      ],
      "id": "d5612081-351c-43a6-96d7-fb590271b41c",
      "name": "09A - Prepare CRM and Audit Outputs"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 10A - Split Output Records\n *\n * Purpose:\n * - Converts each processed lead into separate output records:\n *   1. crm_deal\n *   2. crm_activity\n *   3. human_review\n *   4. audit_log\n *\n * Why:\n * - Later nodes can easily write each output type to a separate file/API.\n * - Keeps audit records for every lead.\n * - Does not call external APIs yet.\n *\n * Portfolio cleanup:\n * - Uses generic mock_crm_* destination names.\n * - Keeps client_score_1_to_5 and score_rationale visible at the split-record level.\n */\n\nfunction buildOutputRecord({\n  sourceLead,\n  outputType,\n  operation,\n  destination,\n  payload\n}) {\n  const summary = sourceLead.output_preparation?.outputs?.lead_summary || {};\n  const routing = sourceLead.routing || {};\n  const score = sourceLead.lead_score || {};\n\n  return {\n    json: {\n      output_id: `${sourceLead.intake_id || \"unknown\"}_${outputType}_${Date.now()}`,\n      output_type: outputType,\n      operation,\n      destination,\n      prepared_at: new Date().toISOString(),\n\n      intake_id: sourceLead.intake_id || \"\",\n      source: sourceLead.extracted?.lead_context?.source || sourceLead.source || \"\",\n      company_display_name: summary.company_display_name || \"\",\n      company_domain: summary.company_domain || \"\",\n      person_full_name: summary.person_full_name || \"\",\n      email: summary.email || \"\",\n      phone: summary.phone || \"\",\n      country: summary.country || \"\",\n      language: summary.language || \"\",\n\n      route: routing.route || \"\",\n      action: routing.action || \"\",\n      owner_team: routing.owner_team || \"\",\n      routing_priority: routing.priority || \"\",\n      review_required: routing.review_required ?? false,\n\n      score_status: score.status || \"\",\n      total_score: score.total_score ?? null,\n      tier: score.tier || \"\",\n      client_score_1_to_5: score.client_score_1_to_5 ?? null,\n      score_rationale: score.score_rationale || \"\",\n      score_confidence: score.confidence || \"\",\n\n      validation_status: sourceLead.validation?.status || \"\",\n      dedup_status: sourceLead.dedup?.status || \"\",\n      enrichment_status: sourceLead.enrichment?.status || \"\",\n      enrichment_validation_status: sourceLead.enrichment_validation?.status || \"\",\n\n      payload\n    }\n  };\n}\n\nconst outputItems = [];\n\nfor (const item of items) {\n  const lead = item.json;\n  const outputs = lead.output_preparation?.outputs || {};\n\n  /**\n   * 1. CRM deal output\n   */\n  if (outputs.mock_crm_deal) {\n    outputItems.push(\n      buildOutputRecord({\n        sourceLead: lead,\n        outputType: \"crm_deal\",\n        operation: outputs.mock_crm_deal.operation || \"create_deal\",\n        destination: \"mock_crm_deals\",\n        payload: outputs.mock_crm_deal\n      })\n    );\n  }\n\n  /**\n   * 2. CRM activity / note output\n   */\n  if (outputs.mock_crm_activity) {\n    outputItems.push(\n      buildOutputRecord({\n        sourceLead: lead,\n        outputType: \"crm_activity\",\n        operation: outputs.mock_crm_activity.operation || \"create_activity\",\n        destination: \"mock_crm_activities\",\n        payload: outputs.mock_crm_activity\n      })\n    );\n  }\n\n  /**\n   * 3. Human review queue output\n   */\n  if (outputs.human_review_queue) {\n    outputItems.push(\n      buildOutputRecord({\n        sourceLead: lead,\n        outputType: \"human_review\",\n        operation: outputs.human_review_queue.operation || \"add_to_human_review_queue\",\n        destination: \"human_review_queue\",\n        payload: outputs.human_review_queue\n      })\n    );\n  }\n\n  /**\n   * 4. Audit log output\n   *\n   * Every lead should always produce one audit log record.\n   */\n  if (outputs.audit_log) {\n    outputItems.push(\n      buildOutputRecord({\n        sourceLead: lead,\n        outputType: \"audit_log\",\n        operation: outputs.audit_log.operation || \"append_audit_log\",\n        destination: \"audit_log\",\n        payload: outputs.audit_log\n      })\n    );\n  } else {\n    outputItems.push(\n      buildOutputRecord({\n        sourceLead: lead,\n        outputType: \"audit_log\",\n        operation: \"append_audit_log_missing_payload\",\n        destination: \"audit_log\",\n        payload: {\n          warning: \"Missing audit_log payload from 09A.\",\n          intake_id: lead.intake_id || \"\",\n          created_at: new Date().toISOString()\n        }\n      })\n    );\n  }\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        448
      ],
      "id": "c757c18e-4345-4273-a022-418ea937d0c7",
      "name": "10A - Split Output Records"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 11A - Group Output Records by Destination\n *\n * Purpose:\n * - Groups split output records from 10A by destination.\n * - Performs basic count reconciliation.\n * - Keeps one grouped object for 12A to build export files.\n *\n * Portfolio cleanup:\n * - Uses generic mock_crm_deals and mock_crm_activities.\n * - Preserves count checks for production-style auditability.\n */\n\nconst grouped = {\n  mock_crm_deals: [],\n  mock_crm_activities: [],\n  human_review_queue: [],\n  audit_log: []\n};\n\nconst unknown_destination_records = [];\n\nfor (const item of items) {\n  const record = item.json || {};\n  const destination = record.destination || \"\";\n\n  if (destination === \"mock_crm_deals\") {\n    grouped.mock_crm_deals.push(record);\n    continue;\n  }\n\n  if (destination === \"mock_crm_activities\") {\n    grouped.mock_crm_activities.push(record);\n    continue;\n  }\n\n  if (destination === \"human_review_queue\") {\n    grouped.human_review_queue.push(record);\n    continue;\n  }\n\n  if (destination === \"audit_log\") {\n    grouped.audit_log.push(record);\n    continue;\n  }\n\n  unknown_destination_records.push(record);\n}\n\n/**\n * Dynamic count reconciliation.\n *\n * This supports both:\n * - 18-row CSV test runs\n * - 1-lead webhook test runs\n */\nconst expectedAuditCount = grouped.audit_log.length;\n\nconst counts = {\n  total_output_records: items.length,\n  mock_crm_deals: grouped.mock_crm_deals.length,\n  mock_crm_activities: grouped.mock_crm_activities.length,\n  human_review_queue: grouped.human_review_queue.length,\n  audit_log: grouped.audit_log.length,\n  unknown_destination_records: unknown_destination_records.length\n};\n\nconst quality_checks = {\n  has_unknown_destinations: unknown_destination_records.length > 0,\n  audit_log_count_matches_input_leads: grouped.audit_log.length === expectedAuditCount,\n  has_crm_deals: grouped.mock_crm_deals.length > 0,\n  has_crm_activities: grouped.mock_crm_activities.length > 0,\n  has_human_review_records: grouped.human_review_queue.length > 0,\n  total_count_reconciles:\n    grouped.mock_crm_deals.length +\n    grouped.mock_crm_activities.length +\n    grouped.human_review_queue.length +\n    grouped.audit_log.length +\n    unknown_destination_records.length === items.length\n};\n\nreturn [\n  {\n    json: {\n      output_grouping_status: quality_checks.total_count_reconciles\n        ? \"grouped\"\n        : \"count_mismatch\",\n\n      generated_at: new Date().toISOString(),\n\n      counts,\n      quality_checks,\n\n      grouped_outputs: grouped,\n      unknown_destination_records\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        448
      ],
      "id": "2b8d0043-9313-4d7b-b705-ad01f2a1407a",
      "name": "11A - Group Output Records by Destination"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 12A - Build Export Files\n *\n * Purpose:\n * - Takes grouped outputs from 11A.\n * - Builds four export-file payloads:\n *   1. mock_crm_deals.json\n *   2. mock_crm_activities.json\n *   3. human_review_queue.json\n *   4. audit_log.json\n *\n * Important:\n * - This node does NOT write files yet.\n * - It prepares file names, file paths, record counts, and JSON content.\n * - It uses generic CRM wording for the portfolio version.\n */\n\nconst groupedData = items[0].json;\nconst grouped = groupedData.grouped_outputs || {};\n\nconst EXPORT_BASE_PATH = \"/home/node/.n8n-files/sample_outputs\";\n\nfunction buildExportFile({\n  outputKey,\n  fileName,\n  description,\n  records\n}) {\n  const safeRecords = Array.isArray(records) ? records : [];\n\n  const exportObject = {\n    file_type: outputKey,\n    description,\n    generated_at: new Date().toISOString(),\n    record_count: safeRecords.length,\n\n    scoring_note: {\n      total_score: \"Internal 0-100 operational score remains unchanged.\",\n      tier: \"Existing internal tier remains unchanged.\",\n      client_score_1_to_5: \"Client-facing score derived directly from tier: A=5, B=4, C=3, D=2, blocked/rejected/disqualified=1.\",\n      score_rationale: \"One-sentence explanation of the client-facing 1-5 score.\"\n    },\n\n    quality_checks: groupedData.quality_checks || {},\n    source_counts: groupedData.counts || {},\n\n    records: safeRecords\n  };\n\n  return {\n    json: {\n      output_key: outputKey,\n      file_name: fileName,\n      file_path: `${EXPORT_BASE_PATH}/${fileName}`,\n      description,\n      record_count: safeRecords.length,\n      content_type: \"application/json\",\n      file_content: JSON.stringify(exportObject, null, 2)\n    }\n  };\n}\n\nreturn [\n  buildExportFile({\n    outputKey: \"mock_crm_deals\",\n    fileName: \"mock_crm_deals.json\",\n    description: \"Mock CRM deal creation payloads for qualified new sales leads.\",\n    records: grouped.mock_crm_deals || []\n  }),\n\n  buildExportFile({\n    outputKey: \"mock_crm_activities\",\n    fileName: \"mock_crm_activities.json\",\n    description: \"Mock CRM activity and note payloads for sales follow-up and duplicate account handling.\",\n    records: grouped.mock_crm_activities || []\n  }),\n\n  buildExportFile({\n    outputKey: \"human_review_queue\",\n    fileName: \"human_review_queue.json\",\n    description: \"Human review queue records for possible duplicates, weak company identity, non-target market, secondary-market review, or enrichment validation issues.\",\n    records: grouped.human_review_queue || []\n  }),\n\n  buildExportFile({\n    outputKey: \"audit_log\",\n    fileName: \"audit_log.json\",\n    description: \"Complete audit log for all intake records, including rejected, duplicate, enriched, scored, and routed leads.\",\n    records: grouped.audit_log || []\n  })\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        448
      ],
      "id": "3250b56a-1917-4296-85b2-e6a5cf535305",
      "name": "12A - Build Export Files"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const file = item.json || {};\n\n  const fileContent = file.file_content || \"\";\n  const fileName = file.file_name || \"export.json\";\n  const contentType = file.content_type || \"application/json\";\n\n  return {\n    json: {\n      output_key: file.output_key || \"\",\n      file_name: fileName,\n      file_path: file.file_path || \"\",\n      description: file.description || \"\",\n      record_count: file.record_count ?? 0,\n      content_type: contentType,\n      prepared_at: new Date().toISOString()\n    },\n    binary: {\n      data: {\n        data: Buffer.from(fileContent, \"utf8\").toString(\"base64\"),\n        mimeType: contentType,\n        fileName: fileName\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        448
      ],
      "id": "8cacf09d-5b64-4150-864d-73d83aafb512",
      "name": "13A - Convert JSON Content to Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        448
      ],
      "id": "857da537-3bb5-4585-9e2f-cabb58a3fbe5",
      "name": "13B - Write Export Files"
    },
    {
      "parameters": {
        "jsCode": "const MOCK_CRM_ORGS = [\n  {\n    crm_org_id: 'org_001',\n    company_name: 'MetroSolar Solutions Sdn Bhd',\n    normalized_name: 'metrosolar solutions',\n    domain: 'metrosolar.example',\n    alternative_domains: ['metro-solar.example'],\n    status: 'existing_customer',\n    last_contacted_at: '2026-05-15'\n  },\n  {\n    crm_org_id: 'org_002',\n    company_name: 'GridNusa Energy Sdn Bhd',\n    normalized_name: 'gridnusa energy',\n    domain: 'gridnusa.example',\n    alternative_domains: [],\n    status: 'open_lead',\n    last_contacted_at: '2026-05-20'\n  },\n  {\n    crm_org_id: 'org_003',\n    company_name: 'InfraMaju Holdings Sdn Bhd',\n    normalized_name: 'inframaju holdings',\n    domain: 'inframaju.example',\n    alternative_domains: [],\n    status: 'parent_group',\n    last_contacted_at: '2026-05-22'\n  },\n  {\n    crm_org_id: 'org_004',\n    company_name: 'BluePeak Trading Sdn Bhd',\n    normalized_name: 'bluepeak trading',\n    domain: 'bluepeak-trading.example',\n    alternative_domains: [],\n    status: 'open_lead',\n    last_contacted_at: '2026-05-28'\n  }\n];\n\nconst GENERIC_DOMAINS = [\n  'gmail.com',\n  'googlemail.com',\n  'outlook.com',\n  'hotmail.com',\n  'yahoo.com',\n  'icloud.com',\n  'aol.com',\n  'proton.me',\n  'protonmail.com',\n  'gmx.com',\n  'gmx.de',\n  'web.de',\n  'live.com',\n  'msn.com'\n];\n\nfunction clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\n\nfunction normalizeText(value) {\n  return clean(value)\n    .normalize('NFKD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/\\b(sdn|bhd|berhad|enterprise|holdings|group|gmbh|ag|se|ltd|llc|inc|corp|corporation|srl|bv|nv|spa|sa|oy|as|ab)\\b/g, '')\n    .replace(/[^a-z0-9]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeDomain(value) {\n  return clean(value)\n    .toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .split('/')[0]\n    .split('?')[0]\n    .split('#')[0]\n    .trim();\n}\n\nfunction tokenize(value) {\n  return normalizeText(value)\n    .split(/\\s+/)\n    .filter(Boolean);\n}\n\nfunction isGenericDomain(domain) {\n  return GENERIC_DOMAINS.includes(normalizeDomain(domain));\n}\n\nfunction jaccardSimilarity(a, b) {\n  const setA = new Set(tokenize(a));\n  const setB = new Set(tokenize(b));\n\n  if (setA.size === 0 || setB.size === 0) return 0;\n\n  const intersection = [...setA].filter(token => setB.has(token)).length;\n  const union = new Set([...setA, ...setB]).size;\n\n  return intersection / union;\n}\n\nfunction levenshteinDistance(a, b) {\n  const s = normalizeText(a);\n  const t = normalizeText(b);\n\n  const rows = s.length + 1;\n  const cols = t.length + 1;\n  const matrix = Array.from({ length: rows }, () => Array(cols).fill(0));\n\n  for (let i = 0; i < rows; i++) matrix[i][0] = i;\n  for (let j = 0; j < cols; j++) matrix[0][j] = j;\n\n  for (let i = 1; i < rows; i++) {\n    for (let j = 1; j < cols; j++) {\n      const cost = s[i - 1] === t[j - 1] ? 0 : 1;\n\n      matrix[i][j] = Math.min(\n        matrix[i - 1][j] + 1,\n        matrix[i][j - 1] + 1,\n        matrix[i - 1][j - 1] + cost\n      );\n    }\n  }\n\n  return matrix[s.length][t.length];\n}\n\nfunction levenshteinSimilarity(a, b) {\n  const s = normalizeText(a);\n  const t = normalizeText(b);\n\n  if (!s || !t) return 0;\n\n  const maxLength = Math.max(s.length, t.length);\n  const distance = levenshteinDistance(s, t);\n\n  return 1 - distance / maxLength;\n}\n\nfunction nameSimilarity(a, b) {\n  return Math.max(\n    jaccardSimilarity(a, b),\n    levenshteinSimilarity(a, b)\n  );\n}\n\nfunction domainMatchesOrg(org, leadDomain) {\n  const domain = normalizeDomain(leadDomain);\n\n  if (!domain || isGenericDomain(domain)) return false;\n\n  const orgDomains = [\n    org.domain,\n    ...(org.alternative_domains || [])\n  ].map(normalizeDomain);\n\n  return orgDomains.includes(domain);\n}\n\nfunction looksLikeSeparateBusinessUnit(leadCompanyName, org) {\n  const leadName = normalizeText(leadCompanyName);\n  const orgName = normalizeText(org.company_name);\n  const orgShortName = normalizeText(org.normalized_name);\n\n  if (!leadName || !orgName) return false;\n\n  const leadTokens = tokenize(leadName);\n  const orgTokens = tokenize(orgShortName || orgName);\n\n  if (orgTokens.length === 0) return false;\n\n  const parentToken = orgTokens[0];\n  const sharesParent = leadTokens.includes(parentToken);\n\n  const hasExtraUnitWords = leadTokens.length > orgTokens.length;\n  const isNotSameName = leadName !== orgShortName && leadName !== orgName;\n\n  return sharesParent && hasExtraUnitWords && isNotSameName;\n}\n\nfunction findDuplicateMatch(lead) {\n  const extracted = lead.extracted || {};\n  const company = extracted.company || {};\n\n  const leadCompanyName = clean(company.raw_name);\n  const leadNormalizedName = clean(company.normalized_name);\n  const leadInferredDomain = normalizeDomain(company.inferred_domain);\n  const emailDomain = normalizeDomain(company.email_domain);\n\n  const candidateDomain = leadInferredDomain || emailDomain;\n\n  let bestNameMatch = {\n    status: 'new',\n    confidence: 'high',\n    matched_org: null,\n    match_type: 'no_match',\n    match_score: 0,\n    reason: 'No duplicate found against mock CRM organizations.'\n  };\n\n  for (const org of MOCK_CRM_ORGS) {\n    const domainMatch = domainMatchesOrg(org, candidateDomain);\n\n    if (domainMatch) {\n      const possibleSubsidiary =\n        normalizeDomain(org.domain) === candidateDomain &&\n        looksLikeSeparateBusinessUnit(leadCompanyName, org);\n\n      if (possibleSubsidiary) {\n        return {\n          status: 'possible_duplicate',\n          confidence: 'medium',\n          matched_org: org,\n          match_type: 'same_parent_domain_possible_subsidiary',\n          match_score: 0.75,\n          reason: `Lead shares domain ${candidateDomain} with ${org.company_name}, but the company name suggests a separate subsidiary or business unit. Human review required before merging.`\n        };\n      }\n\n      return {\n        status: 'duplicate',\n        confidence: 'high',\n        matched_org: org,\n        match_type: 'domain_match',\n        match_score: 1,\n        reason: `Lead domain matched existing CRM organization domain: ${candidateDomain}.`\n      };\n    }\n\n    const orgName = clean(org.normalized_name || org.company_name);\n    const score = nameSimilarity(leadNormalizedName || leadCompanyName, orgName);\n\n    if (score > bestNameMatch.match_score) {\n      bestNameMatch = {\n        status: score >= 0.86 ? 'possible_duplicate' : 'new',\n        confidence: score >= 0.86 ? 'medium' : 'high',\n        matched_org: score >= 0.86 ? org : null,\n        match_type: score >= 0.86 ? 'fuzzy_name_match' : 'no_match',\n        match_score: Number(score.toFixed(3)),\n        reason: score >= 0.86\n          ? `Company name is similar to existing CRM organization: ${org.company_name}.`\n          : 'No strong duplicate match found.'\n      };\n    }\n  }\n\n  return bestNameMatch;\n}\n\nreturn items.map((item) => {\n  const lead = item.json;\n  const validationStatus = clean(lead.validation?.status);\n\n  if (validationStatus === 'rejected') {\n    return {\n      json: {\n        ...lead,\n        dedup: {\n          status: 'skipped',\n          checked: false,\n          reason: 'Dedup skipped because validation status is rejected.',\n          matched_crm_org_id: '',\n          matched_company_name: '',\n          match_type: '',\n          match_score: 0,\n          confidence: 'none',\n          checked_at: new Date().toISOString()\n        }\n      }\n    };\n  }\n\n  const match = findDuplicateMatch(lead);\n\n  return {\n    json: {\n      ...lead,\n      dedup: {\n        status: match.status,\n        checked: true,\n        reason: match.reason,\n        matched_crm_org_id: match.matched_org?.crm_org_id || '',\n        matched_company_name: match.matched_org?.company_name || '',\n        match_type: match.match_type,\n        match_score: match.match_score,\n        confidence: match.confidence,\n        checked_at: new Date().toISOString(),\n        mock_source_note: 'Mock CRM data used for local portfolio testing. Replace with a live CRM organization search API in production.'\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        208
      ],
      "id": "168f77b2-d903-458b-99e3-a83c8c74fd7c",
      "name": "04A - Dedup Check Against Mock CRM"
    }
  ],
  "pinData": {},
  "connections": {
    "01A - Manual CSV Import Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "01C - Parse Lead CSV Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01C - Parse Lead CSV Rows": {
      "main": [
        [
          {
            "node": "01E - Standardize Intake Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01D - Webhook Lead Intake": {
      "main": [
        [
          {
            "node": "01E - Standardize Intake Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01E - Standardize Intake Stream": {
      "main": [
        [
          {
            "node": "02A - Extract and Normalize Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02A - Extract and Normalize Lead Fields": {
      "main": [
        [
          {
            "node": "03A - Validate Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03A - Validate Lead Fields": {
      "main": [
        [
          {
            "node": "04A - Dedup Check Against Mock CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05A - Mock Enrichment API": {
      "main": [
        [
          {
            "node": "06A - Validate Enrichment Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06A - Validate Enrichment Response": {
      "main": [
        [
          {
            "node": "07A - Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07A - Score Lead": {
      "main": [
        [
          {
            "node": "08A - Route Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08A - Route Lead": {
      "main": [
        [
          {
            "node": "09A - Prepare CRM and Audit Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09A - Prepare CRM and Audit Outputs": {
      "main": [
        [
          {
            "node": "10A - Split Output Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10A - Split Output Records": {
      "main": [
        [
          {
            "node": "11A - Group Output Records by Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11A - Group Output Records by Destination": {
      "main": [
        [
          {
            "node": "12A - Build Export Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12A - Build Export Files": {
      "main": [
        [
          {
            "node": "13A - Convert JSON Content to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13A - Convert JSON Content to Binary": {
      "main": [
        [
          {
            "node": "13B - Write Export Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04A - Dedup Check Against Mock CRM": {
      "main": [
        [
          {
            "node": "05A - Mock Enrichment API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "JdqHih4PoxN5kNhv",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5abc3bad-ee05-4dbc-892d-1c81a932b31e",
  "meta": {
    "instanceId": "3805adc411ee1409659444fdf3412c56a71a2675f75a5fddf4b3d8fff5f05d1c"
  },
  "nodeGroups": [],
  "id": "yn3MWN06nhDpOTI7",
  "tags": []
}